﻿UL.navigationTabList {
    list-style-type: none;
    padding: 0;
    border-spacing: 0;
}

LI.navigationTab {
    margin: 0;
    height: 30px;
    border-style: solid;
    border-color: #e1e1e1;
    overflow: hidden;
}

LI.navigationTab A {
    text-decoration: none;
    color: #000000 !important;
    font-weight: bold;
    padding: 8px 10px;
    display: block;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f5f5f5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}

LI.navigationTab A.active {
    text-decoration: none;
    color: #0099bb !important;
    background: #ffffff !important;
    filter: initial;
}

@media (min-width: 650px) {
    UL.navigationTabList {
        margin: 0 0 10px;
        border-bottom: 1px solid #e1e1e1;
        height: 30px;
    }

    LI.navigationTab {
        display: inline-block;
        border-width: 1px 1px 0 1px;
        border-radius: 7px 7px 0 0;
        -ms-border-radius: 7px 7px 0 0;
        -moz-border-radius: 7px 7px 0 0;
        -webkit-border-radius: 7px 7px 0 0;
        -khtml-border-radius: 7px 7px 0 0;
        -o-border-radius: 7px 7px 0 0;
    }

    LI.navigationTab A {
        border-radius: 7px 7px 0 0;
        -ms-border-radius: 7px 7px 0 0;
        -moz-border-radius: 7px 7px 0 0;
        -webkit-border-radius: 7px 7px 0 0;
        -khtml-border-radius: 7px 7px 0 0;
        -o-border-radius: 7px 7px 0 0;
    }

    LI.navigationTab A.active {
        padding: 8px 10px 9px;
    }
}

@media (max-width: 649px) {
    UL.navigationTabList {
        margin: 0;
        height: auto;
    }

    LI.navigationTab {
        display: block;
        max-width: 300px;
        margin-bottom: 10px;
        border-width: 1px;
        border-radius: 7px;
        -ms-border-radius: 7px;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        -khtml-border-radius: 7px;
        -o-border-radius: 7px;
    }


   LI.navigationTab A {
        border-radius: 7px;
        -ms-border-radius: 7px;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
        -khtml-border-radius: 7px;
        -o-border-radius: 7px;
    }
}


/* Edit view user control */

.labelFixedWidth {
    width: 40px;
    display: inline-block;
}
UL.navigationTabListEdit {
    list-style-type: none;
    margin: 0 0 10px;
    padding: 0;
    border-bottom: 1px solid #e1e1e1;
    border-spacing: 0;
    height: 65px;
}
LI.navigationTabEdit {
    display: inline-block;
    margin: 0;
    height: 65px;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: #e1e1e1;
    border-radius: 7px 7px 0 0;
    -ms-border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    -khtml-border-radius: 7px 7px 0 0;
    -o-border-radius: 7px 7px 0 0;
}
LI.navigationTabEdit A {
    text-decoration: none;
    color: #000000 !important;
    padding: 8px 10px;
    display: block;
    border-radius: 7px 7px 0 0;
    -ms-border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    -khtml-border-radius: 7px 7px 0 0;
    -o-border-radius: 7px 7px 0 0;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f5f5f5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}

LI.navigationTabEdit A.active {
    text-decoration: none;
    color: #0099bb !important;
    background: #ffffff !important;
    filter: initial;
    padding: 8px 10px 9px;
}