﻿.resultItemHeader {
    font-size: 18px;
}

.resultItemPrice {
    font-size: 18px;
    font-weight: bold;
}

UL.resultItemProperties {
    margin: 0;
    padding: 5px 15px;
}

.resultItemLeft {
    max-width: 398px;
}

.resultItemLeftMargin {
    margin-bottom: 25px;
}

.resultItemRight {
    width: 180px;
}

.resultItemRightContent {
    position: absolute;
    right: 10px;
}

.resultItemOptionsLeft {
    width: 150px;
}

.resultItemOptionsRight {
    max-width: 438px;
}

.resultItemOption {
    width: 280px;
}

.resultItemOption input[type="checkbox"] {
    margin-left: 0;
}

.resultItemButton {
    margin: 0;
    width: 180px;
}

.resultShowMore {
    position: absolute;
    left: 10px;
    bottom: 10px;
    cursor: pointer;
}

.resultShowMoreClosed {
    position: relative;
    margin-right: 15px;
}

.resultShowMoreClosed::after {
    content: "\25BC";
    position: absolute;
    right: -15px;
    color: #333;
}

.resultShowMoreOpen {
    position: relative;
    margin-right: 15px;
}

.resultShowMoreOpen::after {
    content: "\25B2";
    position: absolute;
    right: -15px;
    color: #333;
}

.resultMoreColumn {
    width: 283px;
}

.resultMoreColumn div.title {
    width: 80px;
    font-weight: bold;
    display: inline-block;
    margin-right: 4px;
}

.resultMoreColumn div.text {
    width: 199px;
    display: inline-block;
}

/* Edit view classes */
.resultItemLeftEdit {
    width: 380px;
}

.resultItemRightEdit {
    width: 160px;
    min-height: 120px;
}

.resultItemOptionEdit {
    width: 150px;
}

.resultItemButtonEdit {
    margin: 0;
    width: 150px;
}

.resultShowMoreClosedEdit::after {
    content: "\25BC";
    color: #333;
}

@media (min-width: 650px) {
    .resultItemRight {
        min-height: 120px;
    }

    .resultItemRightContent {
        bottom: 10px;
    }
}

@media (max-width: 649px) {
    .resultItemRight {
        min-height: 140px;
    }

    .resultItemRightContent {
        bottom: 30px;
    }
}

