﻿body
{
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    font-weight: normal;
    color: #333333 !important;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f5f5f5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
    overflow: visible; /* Added because of removal of s4-workspace id from div */
}

#s4-bodyContainer {
    min-width: 300px !important;
}

.s4-search, #s4-leftpanel, #s4-topheader2, .s4-breadcrumb, .welcome-content {
    display: none;
}

.s4-ca {
    margin: 0 !important;
    background: none !important;
}

.s4-titlerow {
    background: #0099bb !important;
    color: #ffffff !important;
}

.s4-title {
    background: none !important;
    max-width: 942px !important;
    margin: 0 auto 20px !important;
    padding: 0 !important;
}

.s4-titletext a {
    color: #ffffff !important;
}

.s4-titletext h2 {
    display: none !important;
}

.s4-titlesep {
    display: none;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

#topnavbar {
    display: none;
}

#s4-mainarea {
}

.ms-PartSpacingVertical {
    margin-top: 0 !important;
}

body #MSO_ContentTable {
    max-width: 942px;
    margin: 10px auto 0 !important;
}

#mainContent {
    max-width: 920px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    overflow: visible;
    float: none !important;
    overflow: visible;
    background: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
}

a {
    color: #007593;
}

div.welcome {
    padding: 0;
}

input[type="radio"], input[type="checkbox"] {
    margin: 3px 3px 5px 5px;
}

/* Overlay to cover the entire page */
.overlay {
    display: none;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity = 50);
}

#Footer {
    margin: 0 auto;
    max-width: 942px;
    padding: 10px 0 0 0;
}

/*********  Loading spinner  ***********/
.skickaDirektModal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('/_Layouts/Images/Posten.SkickaDirekt2/ajax-loader.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .skickaDirektModal {
    display: block;
}

@media (min-width: 960px) {
    #Footer {
        width: 942px;
    }
    .row:after {
        clear: both;
    }
    [class*="span"] {
        float: left;
        min-height: 1px;
        margin-left: 10px;
    }
    .row:after {
        clear: both;
    }
    [class*="span"] {
        float: left;
        min-height: 1px;
        margin-left: 10px;
    }
    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
        width: 1170px;
    }
    .span12 {
        width: 920px;
    }
    .span8 {
        width: 610px;
    }
    .span4 {
        width: 300px;
    }
    .row-fluid {
        width: 100%;
        *zoom: 1;
    }
    .row-fluid:before,
    .row-fluid:after {
        display: table;
        line-height: 0;
        content: "";
    }
    .row-fluid:after {
        clear: both;
    }
    .row-fluid [class*="span"] {
        display: block;
        float: left;
        width: 100%;
        min-height: 30px;
        margin-left: 10px;
        *margin-left: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .row-fluid [class*="span"]:first-child {
        margin-left: 0;
    }
    .row-fluid .controls-row [class*="span"] + [class*="span"] {
        margin-left: 10px;
    }
    .row:after {
        clear: both;
    }
    [class*="span"] {
        float: left;
        min-height: 1px;
        margin-left: 10px;
    }
    .container,
    .navbar-static-top .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container {
        width: 1170px;
    }
    .span12 {
        width: 920px;
    }
    .span8 {
        width: 610px;
    }
    .span4 {
        width: 300px;
    }
    .row-fluid {
        width: 100%;
        *zoom: 1;
    }
    .row-fluid:before,
    .row-fluid:after {
        display: table;
        line-height: 0;
        content: "";
    }
    .row-fluid:after {
        clear: both;
    }
    .row-fluid [class*="span"] {
        display: block;
        float: left;
        width: 100%;
        min-height: 30px;
        margin-left: 10px;
        *margin-left: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .row-fluid [class*="span"]:first-child {
        margin-left: 0;
    }
    .row-fluid .controls-row [class*="span"] + [class*="span"] {
        margin-left: 10px;
    }
    .row-fluid .span12 {
        width: 920px;
    }
    .row-fluid .span8 {
        width: 610px;
        *width: 610px;
    }
    .row-fluid .span4 {
        width: 300px;
        *width: 300px;
    }
}

@media (min-width: 650px) and (max-width: 959px) {
    #MSO_ContentTable {
        width: 632px;
    }

    .pageHeader {
        width: 632px;
    }

    #Footer {
        width: 632px;
    }
    .row:after {
        clear: both;
    }
}

@media (min-width: 670px) {
    .pageHeader {
        max-width: 942px;
        margin: 0 auto;
    }
    .s4-titlelogo {
        padding: 25px 25px 25px 0 !important;
    }
    .s4-titletext {
        padding: 43px 0 25px 25px !important;
        width: auto !important;
        font-size: 24px;
        float: right;
    }
}

@media (min-width: 540px) and (max-width: 669px) {
    .pageHeader {
        max-width: 942px;
        margin: 0;
    }
    .s4-titlelogo {
        padding: 25px 25px 25px 10px !important;
    }
    .s4-titletext {
        padding: 43px 10px 25px 25px !important;
        width: auto !important;
        font-size: 24px;
        float: right;
    }
}


@media (min-width: 540px) {
    .s4-titlelogo {
//        border-right: 3px solid #ffffff !important;
    }
}

@media (max-width: 539px) {
    .s4-titlelogo {
        padding: 10px !important;
        border: none !important;
    }
    .s4-titletext {
        padding: 5px 10px !important;
        width: 300px !important;
        font-size: 18px;
        float: left;
    }
}