﻿/* Core CSS for SkickaDirekt2 */

/* General */

/* Text */

.bold {
    font-weight: bold;
}

.header {
    font-size: 14px;
    font-weight: bold;
}

.italic {
    font-style: italic;
}

h3 {
    font-size: 12px;
    margin: 0 0 5px 0;
}

ul {
    margin: 0;
    padding: 0 0 0 20px;
}

/* Text colours */

.greyText {
    color: #666666;
}

.whiteText {
    color: #ffffff;
}

.blueText {
    color: #0099BB;
}

/* Links */

A.blackLink,
A.blackLink:active,
A.blackLink:visited,
A.blackLink:link {
    color: #333333;
}

A.blueLink,
A.blueLink:active,
A.blueLink:visited,
A.blueLink:link {
    color: #0099BB;
}

A.greyLink,
A.greyLink:active,
A.greyLink:visited,
A.greyLink:link {
    color: #666666;
}

/* Paddings */

.noPadding {
    padding: 0;
}

.paddings {
    padding: 10px;
}

.topPadding {
    padding-top: 10px !important;
}

.bottomPadding {
    padding-bottom: 10px !important;
}

.leftPadding {
    padding-left: 10px !important;
}

.rightPadding {
    padding-right: 10px !important;
}

.smallPaddings {
    padding: 5px;
}

.smallRightPadding {
    padding-right: 5px !important;
}

.smallLeftPadding {
    padding-left: 5px !important;
}

/* Margins */

.noMargin {
    margin: 0;
}

.topMargin {
    margin-top: 10px !important;
}

.bottomMargin {
    margin-bottom: 10px !important;
}

.leftMargin {
    margin-left: 10px !important;
}

.rightMargin {
    margin-right: 10px !important;
}

.smallTopMargin {
    margin-top: 5px !important;
}

.smallBottomMargin {
    margin-bottom: 5px !important;
}

/* Borders */

.noBorder {
    border: none;
}

.borders {
    border: 1px solid #e1e1e1;
}

.topBorders {
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-color: #e1e1e1;
}

.bottomBorders {
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
}

.topBorder {
    border-top: 1px solid #e1e1e1;
}

.bottomBorder {
    border-bottom: 1px solid #e1e1e1;
}

.transparentBorder {
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
}

/* Rounded corners */

.rounded {
    border-radius: 7px;
    -ms-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    -o-border-radius: 7px;
    overflow: hidden;
}

.topRounded {
    border-radius: 7px 7px 0 0;
    -ms-border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    -khtml-border-radius: 7px 7px 0 0;
    -o-border-radius: 7px 7px 0 0;
    overflow: hidden;
}

.bottomRounded {
    border-radius: 0 0 7px 7px;
    -ms-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -webkit-border-radius: 0 0 7px 7px;
    -khtml-border-radius: 0 0 7px 7px;
    -o-border-radius: 0 0 7px 7px;
    overflow: hidden;
}

/* Backgrounds */

.whiteBackground {
    background: #fff !important;
}

.greyBackground {
    background: #f5f5f5 !important;
}

/* Gradients */

.lightGradient {
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f5f5f5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}

.buttonGradient {
    background: #0099bb; /* Old browsers */
    background: -moz-linear-gradient(top, #0099bb 0%, #007593 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0099bb), color-stop(100%,#007593)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0099bb 0%,#007593 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0099bb 0%,#007593 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0099bb 0%,#007593 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0099bb 0%,#007593 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099bb', endColorstr='#007593',GradientType=0 ); /* IE6-9 */
    color: #ffffff !important;
}

/* Alignment, floats and clears */

.centerText {
    text-align: center;
}

.leftText {
    text-align: left;
}

.rightText {
    text-align: right;
}

.leftFloat {
    float: left;
    clear: none;
}

.rightFloat {
    float: right;
    clear: none;
}

.bothClear {
    clear: both;
}

.fullWidth {
    width: 100%;
}

.relativePosition {
    position: relative;
}

/* Form layout containers */

.leftPart {
    padding: 4px 8px 0 0;
    float: left;
    clear: none;
    font-weight: bold;
    line-height: 20px;
}

.rightPart {
    float: left;
    clear: none;
    position: relative;
}

.rightPartText {
    padding-top: 4px;
}

/* Visibility */

.noneDisplay {
    display: none;
}

.blockDisplay {
    display: block;
}

/* Forms */

input:focus, textarea:focus, select:focus {
    outline: 0;
}

.field {
    margin-right: 5px;
    padding: 6px;
    border: 1px solid #e1e1e1;
    border-radius: 7px;
    -ms-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    -o-border-radius: 7px;
    box-shadow: 1px 0px 1px 0 rgba(0,0,0,.2) inset;
    -webkit-box-shadow: 1px 0px 1px 0 rgba(0,0,0,.2) inset;
    -moz-box-shadow: 1px 0px 1px 0 rgba(0,0,0,.2) inset;
    -khtml-box-shadow: 1px 0px 1px 0 rgba(0,0,0,.2) inset;
    display: inline-block;
    box-sizing: content-box;
}

.field:focus {
    border: 1px solid #0099bb;
    box-shadow: 1px 0px 1px 0 rgba(0,153,187,.2) inset;
    -webkit-box-shadow: 1px 0px 1px 0 rgba(0,153,187,.2) inset;
    -moz-box-shadow: 1px 0px 1px 0 rgba(0,153,187,.2) inset;
    -khtml-box-shadow: 1px 0px 1px 0 rgba(0,153,187,.2) inset;
    outline: none;
}

.field::input-placeholder {
    color: #666666;
    font-style: italic;
}

.field::-webkit-input-placeholder {
    color: #666666;
    font-style: italic;
}

.field:-moz-placeholder {
    color: #666666;
    font-style: italic;
}

.field::-moz-placeholder {
    color: #666666;
    font-style: italic;
}

.field:-ms-input-placeholder {
    color: #666666;
    font-style: italic;
}

.smallestField {
    width: 45px;
    margin-right: 0;
}

.smallField {
    width: 80px;
}

.mediumField {
    width: 138px;
}

.largeField {
    width: 215px;
}

.largestField {
    width: 240px;
}

.field:disabled,
.field[disabled] {
    background: #eeeeee;
    color: #333333;
}

/* Validation */
.invalidElement {
    border-color: #dd0000;
    box-shadow: 1px 0px 1px 1px rgba(192,0,0,.2) inset;
    -webkit-box-shadow: 1px 0px 1px 1px rgba(192,0,0,.2) inset;
    -moz-box-shadow: 1px 0px 1px 1px rgba(192,0,0,.2) inset;
    -khtml-box-shadow: 1px 0px 1px 1px rgba(192,0,0,.2) inset;
}

.errorMessage {
    background: #dd0000;
    color: #fff !important;
}

.errorText {
    color: #dd0000;
}

.leftFloat SPAN .errorText {
    margin-right: -30px;
}

/* Buttons */

.buttonContainer {
    padding: 0;
    border-radius: 7px;
    -ms-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    -o-border-radius: 7px;
    overflow: hidden;
}

.largeButton {
    padding: 16px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.smallButton {
    padding: 4px 8px;
    display: inline-block;
    font-weight: bold;
    min-width: 80px;
}

a.button, 
input[type="submit"],
input[type="cancel"],
input[type="button"],
button {
    cursor: pointer;
    color: #ffffff !important;
    border-radius: 7px;
    -ms-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    -o-border-radius: 7px;
    border: 1px solid #0099bb;
    background: #0099bb; /* Old browsers */
    background: -moz-linear-gradient(top, #0099bb 0%, #007593 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0099bb), color-stop(100%,#007593)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0099bb 0%,#007593 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0099bb 0%,#007593 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0099bb 0%,#007593 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0099bb 0%,#007593 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099bb', endColorstr='#007593',GradientType=0 ); /* IE6-9 */
}

input[type="submit"]:disabled,
input[type="cancel"]:disabled,
input[type="button"]:disabled,
button:disabled {
    cursor: default;
    color: #e1e1e1 !important;
    border: 1px solid #e1e1e1;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f5f5f5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}

/* Ajax loaders */

.ajaxSmallLeftContainer {
    position: relative;
    padding-left: 25px;
    margin-left: -25px;
}

.ajaxSmallRightContainer {
    position: relative;
    padding-right: 25px;
    margin-right: -25px;
}

.ajaxLargeLeftContainer {
    position: relative;
    padding-left: 45px;
    margin-left: -45px;
}

.ajaxLargeRightContainer {
    position: relative;
    padding-right: 45px;
    margin-right: -45px;
}

.ajaxLeft {
    position: absolute;
    top: 5px;
    left: 0px;
}

.ajaxRight {
    position: absolute;
    top: 5px;
    right: 0px;
}

.ajaxSmall {
    height: 20px;
    width: 20px;
    background: transparent url('/_Layouts/Images/Posten.SkickaDirekt2/ajax-small.gif') center center no-repeat;
}

.ajaxLarge {
    height: 40px;
    width: 40px;
    background: transparent url('/_Layouts/Images/Posten.SkickaDirekt2/ajax-large.gif') center center no-repeat;
}

.ajaxCover {
    height: 100%;
    width: 100%;
    background: #ffffff url('/_Layouts/Images/Posten.SkickaDirekt2/ajax-large.gif') center center no-repeat;
    position: absolute;
    top: -10px;
    left: 0px;
    opacity: 0.8;
    filter: alpha(opacity = 80);
    z-index: 10;
    padding: 10px 0;
}

/* Tooltips */

.tooltip {
    outline: none;
}

.tooltip strong {
    line-height: 30px;
}

.tooltip:hover {
    text-decoration: none;
}

.tooltip span {
    z-index: 10;
    display: none;
    margin-top: -28px;
    margin-left: 20px;
    max-width: 300px;
    line-height: 16px;
    font-weight: normal;
}

.tooltip:hover span {
    display: inline;
    position: absolute;
    color: #333333;
    border: 1px solid #e1e1e1;
    background: #ffffff;
}

.tooltip:hover span:before, .tooltip:hover span:after {
    right: 100%;
    top: 18px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.tooltip:hover span:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 8px;
    margin-top: -8px;
}

.tooltip:hover span:before {
    border-color: rgba(225, 225, 225, 0);
    border-right-color: #e1e1e1;
    border-width: 9px;
    margin-top: -9px;
}

.tooltip span {
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 7px;
    -ms-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    -o-border-radius: 7px;
    text-align: left;
    box-shadow: 2px 2px 3px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: 2px 2px 3px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 2px 2px 3px 0 rgba(0,0,0,.2);
}

/* Shapes */

.circle {
    height: 20px;
    width: 20px;
    text-align: center;
    overflow: hidden;
    margin-right: 5px;
    line-height: 20px;
    border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    -o-border-radius: 10px;
    vertical-align: middle;
}

.insideCircle {
    display: block;
    text-decoration: none;
    font-size: 16px;
    height: 100%;
    width: 100%;
}

/* Footer */

.footerLeft {
    float: left;
    clear: none;
    padding: 10px;
}

.footerRight {
    float: left;
    clear: none;
    padding: 10px 10px 10px 30px;
}

/* Media */

.videoContainer {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 10px;
    height: 0;
    overflow: hidden;
}

.videoContainer iframe,
.videoContainer object,
.videoContainer embed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

/* Dialog boxes */

.dialogContainer {
    /*display: none;*/
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 21;
}

.dialogContent {
    max-width: 500px;
    margin: 100px auto;
}

/* Edit view */

.leftPartEdit {
    width: 150px;
    margin: 4px 8px 0 0;
    float: left;
    clear: none;
    font-weight: bold;
}

.rightPartEdit {
    width: 400px;
    float: left;
    clear: none;
}

.inputEdit {
    width: 110px;
}

.inputEditNarrow {
    width: 70px;
}

.textareaEdit {
    width: 140px;
}

.smallFieldEdit {
    width: 30px;
}

.radioButtonEdit {
    margin: 3px 0px 5px 0px !important;
}

.fixedWithMid {
    width: 75px;
}

.fixedWithSmall {
    width: 38px;
}

@media (min-width: 650px) {
    .leftPart {
        width: 200px;
    }

    .rightPart {
        width: 360px;
    }

    .circle {
        display: inline-block;
    }
}

@media (max-width: 649px) {
    .leftPart {
        width: 120px;
    }

    .rightPart {
        max-width: 360px;
    }

    .circle {
        display: none;
    }
}
