﻿/* This should be uploaded to the website library and used in the CEWPs */

.cHeader {
	font-size: 14px;
	font-weight: bold;
}

.cHeaderBlue {
    color: #ffffff !important;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    background: #0099bb; /* Old browsers */
    background: -moz-linear-gradient(top, #0099bb 0%, #007593 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0099bb), color-stop(100%,#007593)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0099bb 0%,#007593 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0099bb 0%,#007593 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0099bb 0%,#007593 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0099bb 0%,#007593 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099bb', endColorstr='#007593',GradientType=0 ); /* IE6-9 */
    border-radius: 7px 7px 0 0;
    -ms-border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    -khtml-border-radius: 7px 7px 0 0;
    -o-border-radius: 7px 7px 0 0;
    overflow: hidden;
}

.cHeaderGray {
    color: #333333 !important;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#f5f5f5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#f5f5f5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
    border: 1px solid #e1e1e1;
    border-radius: 7px 7px 0 0;
    -ms-border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    -khtml-border-radius: 7px 7px 0 0;
    -o-border-radius: 7px 7px 0 0;
    overflow: hidden;
}

.cHeaderWhite {
    color: #333333 !important;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 7px 7px 0 0;
    -ms-border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    -khtml-border-radius: 7px 7px 0 0;
    -o-border-radius: 7px 7px 0 0;
    overflow: hidden;
}

.cContentMiddle {
    padding: 10px;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
}

.cContentEnd {
    padding: 10px;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    border-radius: 0 0 7px 7px;
    -ms-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -webkit-border-radius: 0 0 7px 7px;
    -khtml-border-radius: 0 0 7px 7px;
    -o-border-radius: 0 0 7px 7px;
    overflow: hidden;
    margin-bottom: 10px;
}

.cContent {
    padding: 10px;
    border: 1px solid #e1e1e1;
    border-radius: 7px;
    -ms-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -khtml-border-radius: 7px;
    -o-border-radius: 7px;
    overflow: hidden;
    margin-bottom: 10px;
}