﻿/* FONTS */
.humany-widget#humany_$widget-name * /* all elements */ {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 19px;
}

/* HEADER */
.humany-widget#humany_$widget-name .humany-list h1,
.humany-widget#humany_$widget-name .humany-guidelist h1 {
    font-size: 14px;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    -moz-border-radius-topleft:7px;
    -moz-border-radius-topright:7px;
    -webkit-border-top-left-radius:7px;
    -webkit-border-top-right-radius:7px;
    -khtml-border-top-left-radius:7px;
    -khtml-border-top-right-radius:7px;
    color: #FFF;
    font-weight: bolder;
    background: #007593; /* Old browsers */
    background: -moz-linear-gradient(top, #0099BB 0%, #007593 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0099BB), color-stop(100%,#007593)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0099BB 0%,#007593 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0099BB 0%,#007593 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0099BB  0%,#007593 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0099BB 0%,#007593 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099BB', endColorstr='#007593',GradientType=0 ); /* IE6-9 */
    padding: 8px 10px;
    border-bottom: 1px solid #007593;
    text-transform: none;
    margin: -1px;
}

.humany-widget#humany_$widget-name.humany-list .humany-guidelist ol {
    padding: 0;
    margin: 0;
    font-size: 1em;
}

.humany-widget#humany_$widget-name.humany-list .humany-guidelist ol {
    -webkit-column-width: 300px;
    -moz-column-width: 300px;
    column-width: 300px;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
}

.humany-widget#humany_$widget-name.humany-list .humany-guidelist ol li {
    padding: 5px 15px 5px 15px;
    margin: 0;
    font-size: 1em;
}

.humany-widget#humany_$widget-name.humany-list ol li .humany-icon /* icons */,
.humany-widget#humany_$widget-name.humany-list .humany-pager .humany-icon {
	color:$primary-color;
}

/* SECONDARY COLOR */
.humany-widget#humany_$widget-name.humany-list .humany-guidelist /* guide list */ {
	background-color: #FFFFFF;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	-khtml-border-radius:7px;
	border: 1px solid #DBD4C5;
}

.humany-widget#humany_$widget-name.humany-list .humany-guidelist { clear: both; } /* This is to be compatible with PostNord's css grid */
.humany-widget#humany_$widget-name.humany-list .humany-guidelist .humany-guide-link { padding-left: 0; }
.humany-widget#humany_$widget-name.humany-list .humany-guidelist .humany-guide-link > b { display: none; }
.humany-widget#humany_$widget-name.humany-list .humany-guidelist a.humany-pager {
    padding: 15px;
    border-top: 1px solid #DBD4C5;
}