﻿/* FONTS */
.humany-widget#humany_$widget-name * /* all elements */ {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 19px;
}

/* PRIMARY COLOR */
.humany-widget#humany_$widget-name .humany-search button /*search button*/,
.humany-widget#humany_$widget-name .humany-buttons button /*general buttons*/,
.humany-widget#humany_$widget-name .humany-lightbox /*lightbox title bar*/,
.humany-widget#humany_$widget-name .humany-lightbox .humany-contact .humany-contact-method /*contact methods*/,
.humany-widget#humany_$widget-name .humany-lightbox .humany-guide .humany-contact-form .humany-buttons button.humany-contact-method-chat /*embedded contact method*/ {
	background-color: #fff;
}
.humany-widget#humany_$widget-name .humany-body .humany-icon /* icons */,
.humany-widget#humany_$widget-name .humany-categorytree a /* category links */ {
	color: $primary-color;
}
.humany-widget#humany_$widget-name .humany-categorytree ul li.humany-selected > a /* selected category */ {
    border-left-color: $primary-color;
    background-color: $primary-color;
    border: 0;
}

.humany-widget#humany_$widget-name .humany-spinner div /* spinner */ { 
	background-color: $primary-color;
}

/* SECONDARY COLOR */

.humany-widget#humany_$widget-name .humany-guide-feedback button /* yes/no feedback on guide */,
.humany-widget#humany_$widget-name ol li.humany-matching-expanded /* expanded guide during matching */, 
.humany-widget#humany_$widget-name .humany-secondary /* category pane */ {
	background-color:$secondary-color;
}

/* FORE COLOR */
.humany-widget#humany_$widget-name .humany-matching .humany-guide-feedback button /* yes/no buttons while matching */ {
    background-color:$fore-color;
}

/* ALERT COLOR */
.humany-widget#humany_$widget-name .humany-alert /* alert message */ {
    background-color: $alert-color;
}

/* CUSTOM STYLING POSTEN */

.humany-widget#humany_$widget-name .humany-lightbox {
    background-color: #fff;
    background-color: #FFFFFF;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    -khtml-border-radius:7px;
    border: 1px solid #DBD4C5;
    font-size: 12px;
    line-height: 19px;
}

.humany-widget#humany_$widget-name .humany-lightbox .humany-head {
    font-size: 14px;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
    -moz-border-radius-topleft:7px;
    -moz-border-radius-topright:7px;
    -webkit-border-top-left-radius:7px;
    -webkit-border-top-right-radius:7px;
    -khtml-border-top-left-radius:7px;
    -khtml-border-top-right-radius:7px;
    color: #FFF;
    font-weight: bolder;
    background: #007593; /* Old browsers */
    background: -moz-linear-gradient(top, #0099BB 0%, #007593 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0099BB), color-stop(100%,#007593)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0099BB 0%,#007593 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0099BB 0%,#007593 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0099BB  0%,#007593 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0099BB 0%,#007593 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099BB', endColorstr='#007593',GradientType=0 ); /* IE6-9 */
    padding: 10px;
    border-bottom: 1px solid #007593;
    text-transform: none;
    margin: -1px;
}

.humany-widget#humany_$widget-name .humany-lightbox .humany-close {
    right: 0;
    top: 0;
}
.humany-widget#humany_$widget-name .humany-lightbox .humany-close .humany-icon {
    color: #fff !important;
    position: relative;
    top: 8px;
    right: 15px;
}

.humany-widget#humany_$widget-name .humany-lightbox .humany-tabs {
    padding: 0;
}
.humany-widget#humany_$widget-name .humany-lightbox .humany-tabs ul li {
    padding: 0;
    margin: 0 10px 0 0;
    background: transparent;
}
.humany-widget#humany_$widget-name .humany-lightbox .humany-tabs ul li.humany-selected {
    border: none;
}

.humany-widget#humany_$widget-name .humany-lightbox .humany-tabs ul li a {
    font-size: 14px;
    color: #FFF;
    text-transform: none;
}

.humany-widget#humany_$widget-name ::-webkit-input-placeholder { font-style: italic; }
.humany-widget#humany_$widget-name ::-moz-placeholder { font-style: italic; } /* firefox 19+ */
.humany-widget#humany_$widget-name :-ms-input-placeholder { font-style: italic; } /* ie */
.humany-widget#humany_$widget-name input:-moz-placeholder { font-style: italic; }

.humany-widget#humany_$widget-name .humany-lightbox .humany-body {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -khtml-border-bottom-left-radius: 7px;
    -khtml-border-bottom-right-radius: 7px;
    padding: 15px 15px;
}

.humany-widget#humany_$widget-name .humany-lightbox .humany-guidelist h1 {
    font-size: 1.1em;
    color: $primary-color;
    padding: 0;
    margin: 10px 0;
}

.humany-widget#humany_$widget-name .humany-categorytree ul { text-transform: none !important; }

.humany-widget#humany_$widget-name button { text-transform: none; }

.humany-widget#humany_$widget-name .humany-search input[type=search] {
    background-color: #fff;
    outline: 0;
    border: 1px solid #ccc;
    padding: 0 2px;
    height: 28px;
    line-height: 20px;
    font-size: 14px;
    text-indent: 22px;
    width: 300px;
    float: left;
}

.humany-widget#humany_$widget-name .humany-search .button-wrapper {
    float: left;
    height: 30px;
    top: auto;
    right: auto;
    position: relative;
}

.humany-widget#humany_$widget-name .humany-search .button-wrapper .humany-reset-button {
    padding: 0;
    height: 27px;
    margin-left: 10px;
    box-shadow: none;
}

.humany-widget#humany_$widget-name .humany-search .button-wrapper .humany-reset-button b {
    font-size: 18px;
    line-height: 18px;
}

.humany-widget#humany_$widget-name .humany-search .button-wrapper .humany-search-button {
    padding: 5px 10px;
    height: 28px;
    margin-left: 10px;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    -khtml-border-radius:7px;
    border: none;
    cursor: pointer;
    background: #0099bb; /* Old browsers */
    background: -moz-linear-gradient(top, #0099bb 0%, #007593 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0099bb), color-stop(100%,#007593)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0099bb 0%,#007593 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0099bb 0%,#007593 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0099bb 0%,#007593 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0099bb 0%,#007593 100%); /* W3C */
    box-shadow: inset 0 -8px 10px #007593; /*Test*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099bb', endColorstr='#007593',GradientType=0 ); /* IE6-9 */
}

.humany-widget#humany_$widget-name .humany-search > .humany-icon {
    top: 5px;
    left: 8px;
}
.humany-widget#humany_$widget-name .humany-search .humany-reset-button { border-bottom: none; }

.humany-widget#humany_$widget-name .humany-guidelist ol {
    margin: 0;
}

.humany-widget#humany_$widget-name .humany-guidelist ol li {
    margin-bottom: 10px;
}
.humany-widget#humany_$widget-name .humany-guidelist ol li a {
    color: $primary-color;
    padding-left: 20px;
}

.humany-widget#humany_$widget-name .humany-categorytree ul li.humany-selected > a {
    display: inline-block;
    width: 100%;
    background-color: $primary-color;
    margin: 0;
    padding: 5px 15px;
}

.humany-widget#humany_$widget-name .humany-categorytree ul li.humany-selected > a {
    position: relative;
    background: #0099bb; /* Old browsers */
    background: -moz-linear-gradient(top, #0099bb 0%, #007593 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0099bb), color-stop(100%,#007593)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0099bb 0%,#007593 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0099bb 0%,#007593 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0099bb 0%,#007593 100%); /* IE10+ */
    background: linear-gradient(to bottom, #0099bb 0%,#007593 100%); /* W3C */
    box-shadow: inset 0 -8px 10px #007593; /*Test*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099bb', endColorstr='#007593',GradientType=0 ); /* IE6-9 */}

/* Commented out at the moment
.humany-widget#humany_$widget-name .humany-categorytree ul li.humany-selected > a:after {
	left: -40px;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 153, 187, 0);
	border-right-color: $primary-color;
	border-width: 19px;
	margin-top: -19px;
}
*/
.humany-widget#humany_$widget-name .humany-categorytree ul li.humany-selected > a, .humany-widget#humany_$widget-name .humany-categorytree ul li.humany-selected > a > span {
    color: #fff !important;
}

.humany-widget#humany_$widget-name .humany-body .humany-guide-feedback button { background-color: #0099BB; color: #fff;  }
.humany-widget#humany_$widget-name .humany-body .humany-guide-feedback button .humany-icon {
    color: #fff;
}

.humany-widget#humany_$widget-name h1 { color: #717171; text-transform: none; font-size: 1.1rem; line-height: 1.1rem; margin-bottom: 20px; font-family:Verdana,Arial, sans-serif; }

.humany-widget#humany_$widget-name .humany-guide .humany-guide-feedback > label { color: $primary-color; }
.humany-widget#humany_$widget-name .humany-guidelist { background-color: transparent; }
.humany-widget#humany_$widget-name .humany-guidelist .humany-pager {
    color: $primary-color;
    text-decoration: none;
    text-transform: none;
    margin: 0;
    padding: 15px 0 0;
    border-top: 1px solid #DBD4C5;
}