@import url('common.css');
@import url('../modules/all_services.css');
@import url('../modules/bundle_offer.css');
@import url('../modules/call_to_action.css');
@import url('../modules/campaign_modules.css');
@import url('../modules/center_console_menu.css');
@import url('../modules/faq.css');
@import url('../modules/footer.css');
@import url('../modules/global_menu.css');
@import url('../modules/info_alert.css');
@import url('../modules/main_campaign_module.css');
@import url('../modules/quick_finder.css');
@import url('../modules/related_content.css');
@import url('../modules/related_products.css');
@import url('../modules/search_result.css');
@import url('../modules/webshop_global.css');
@import url('../styles/jqtransform.css');
@import url('../styles/jquerytransform.css');

/*******************************************************************************************************************
****************************************************************************************** Root Containers ********/

#Frame {
	width: 944px;
	margin: 0 auto 40px auto;
	z-index: 2;
}

#Header {
	height: 107px;
	width: 100%;
	position: relative;
	z-index:10;
}

#Body {
	position: relative;
	z-index: 4;
}

body.startpage #Body {
	top: 0px;
	margin-top: 18px;
}

#Body > * > * > .top,
#Footer > * > .top {
	height: 10px;
	background: url('../images/spritemap_frame.png') 0px 0px no-repeat;
}

#Body > * > * > .mid,
#Footer > * > * > .mid {
	overflow: hidden;
	padding: 0 2px;
}
#Body > * > * > .mid {
	min-height: 750px;
	background: url('../images/spritemap_frame.png') -945px 0px repeat-y;
}

#Body > * > * > .bot,
#Footer > * > * > .bot {
	height: 10px;
	background: url('../images/spritemap_frame.png') 0px -11px no-repeat;
}

/************************************************************** Global Menu */

/************************************************************** Main Menu */

#MainMenu {
	height: 64px;
	position: absolute;
	z-index: 5;
	width:944px;
}

#MainMenu li {
	float: left;
}

#MainMenu li.active {
	position: relative;
	text-align: center;
}

#MainMenu .header {
	height: 36px;
	position: static;
	margin: 0px;
}

#MainMenu .header span {
	position: static;
	
}

/*
#MainMenu li.active div.header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 36px;
	z-index: 1;
	background: url('../images/localization_se.png') 0px -118px repeat-x;
}*/


#MainMenu li.active a, #MainMenu li:hover a {
	color: #eee;
}

#MainMenu li .indent {
	display: none;
	width: 17px;
	margin-top: 0px;
	height: 20px;
}

#MainMenu li.active div, #MainMenu li:hover div {
	background: url("../images/spritemap_localization_se.png") 0px -106px repeat-x;
}
	
#MainMenu li.active .indent {
	display: inline-block;
	background-position: -43px -1px;
}

#MainMenu li.divider {
	padding: 0px;
}

#MainMenu a {
	display: block;
	color: #888;
	height: 36px;
	line-height: 36px;
	font-family: sans-serif;
	font-weight: bold;
	padding: 0px 14px;
}

/************************************************************** Global Search with Auto Complete */

.module.search {
	margin: 0px 0 0 0;
	padding: 32px 0 0;
	position: relative;
}

.input.text {
	display: block;
	float: left;
	position: relative;
	width:auto;
	background: url('../images/textfield.png') 0px -25px no-repeat;
}

.input.text label {
	position: absolute; top: 0px;
	left: 0px; display: block;
	color: #aaa;
	padding: 4px 0 0 7px;
	font-size: 14px;
}

.module.search input[type='text'] {
	padding: 4px 0px;
	margin-left: 5px;
	border: none;
	display: block;
	float: left;
	width: 147px;
	height: 16px;
	vertical-align: top;
	background: transparent url('../images/textfield.png') repeat-x;
}

.module.search span div {
	width: 5px;
	height: 24px;
	float: left;
	background: url('../images/textfield.png') -6px -25px no-repeat;
}


.search button.search {
	position: absolute;
	right: 0px;
	float: right;
}

button.search {
	cursor: pointer;
	border: none;
	color: #e00;
	width: 24px;
	height: 24px;
	background-position: -97px 0;
}

button.search:hover {
	background-position: -97px -25px;
}

.logoWrapper {
	height: 99px;
	position: relative;
}

.logo {
	position: absolute;
	bottom: 14px;
}

#AutoComplete {
	position: absolute;
	width: 227px;
	right: 19px;
	top: 49px;
	z-index: 30;
	display: none;
}

#AutoComplete .indent {
	width: 18px;
	height: 13px;
	position: relative;
	top: 5px;
	left: 123px;
	background: url('../images/spritemap_common.png') -170px -49px no-repeat;
}

#AutoComplete .topBorder {
	height: 13px;
	background: url('../images/spritemap_common.png') -0px -74px no-repeat;
}

#AutoComplete ul {
	padding: 0 14px;
	background: url('../images/spritemap_common_horizontal.png') -294px 0px repeat-y;
}

#AutoComplete li {
	padding: 5px 0px;
}

#AutoComplete li + li {
	background: url('../images/framework/search_autocomplete_divider.png') center top no-repeat;
}

#AutoComplete .bottomBorder {
	height: 4px;
	background: url('../images/spritemap_common.png') -0px -91px no-repeat;
}

/************************************************************** Localization Ribbon */

.localizationRibbon {
	position: absolute;
	left: 0px;
	height: 8px;
	top: 99px;
	width: 50%;
	background: url("../images/spritemap_common_vertical.png") repeat-x scroll 0 -411px;
}

.localizationRibbon.secondary {
	right: 0px;
	left: auto;
}

#Header .localizationRibbon {
	bottom: 0px;
	width: 754px;
}





/*******************************************************************************************************************
****************************************************************************************** DropDown ***************/

.dropDown {
	display: none;
	z-index: 100;
	position: absolute;
	top: 36px;
}

.dropDown > * {
	overflow: hidden;
}

.dropDown * > * {
}

.dropDown .top {
	overflow: hidden;
}

.dropDown .top > * {
	height: 46px;
}

.dropDown .center {
	margin: 0 12px;	
}

.dropDown .middle > * {
	padding-bottom: 750px;
	margin-bottom: -750px;
}

.dropDown .left,
.dropDown .right {
	width: 12px;
}

.dropDown .top .left {
	background-position: 0px 0px;
}

.dropDown .top .right {
	background-position: -13px 0px;
}

.dropDown .middle  {
	position: relative;
}

.dropDown .left {
	position: absolute;
	top: 0;
	left: 0px;
}

.dropDown .right {
	position: absolute;
	top: 0;
	right: 0px;
}

.dropDown .middle .left {
	background: url("../images/spritemap_common_horizontal.png") 0 0 repeat-y transparent;
}

.dropDown .middle .right {
    background: url("../images/spritemap_common_horizontal.png") -282px 0 repeat-y;
}

.dropDown .middle .center {
	background: url("../images/v_divider_dropdown.png") no-repeat scroll center center #fcfbf9;
}

.header .close {
	float: right;
	width: 17px;
	height: 16px;
	margin: 15px 5px;
	cursor: pointer;
	background: url('../images/spritemap_common.png') -153px -49px no-repeat;
}

.dropDown .bottom {
	position: relative;
}

.dropDown .bottom > * {
	height: 68px;
	background: url('../images/spritemap_common.png') no-repeat;
}

.dropDown .bottom .left {
	background-position: -457px -10px;
}

.dropDown .bottom .center {
	background: url('../images/spritemap_common_vertical.png') 0px -348px repeat-x;
}

.dropDown .bottom .right {
	background-position: -470px -10px;
}

/*
.dropDown {
	display: none;
	position: absolute;
	right: -5px;
	top: 36px;
	width: 550px;
	height: 272px;
}

.dropDown .top,
.dropDown .middle,
.dropDown .bottom {
	overflow: hidden;
}

.dropdown .middle .center,
.dropDown .left,
.dropDown .center,
.dropDown .right {
	overflow: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF)"; /* IE8 */   
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);   /* IE6 & 7 */      
	zoom: 1;
}

.dropDown .top .frame.center {
	position: relative;
}

.dropDown .top .frame.center span {
	position: absolute;
	left: 8px;
	font-weight: bold;
	color: #fff;
}

.dropDown .top .frame.left {
	float: left;
	height: 46px !important;
	width: 12px;
	background-position: 0px 0px;
}
.dropDown .top .frame.center {
	float: left;
	height: 46px !important;
	width: 722px;
}

.dropDown .top .frame.right {
	float: left;
	height: 46px !important;
	width: 12px;
	background-position: -13px 0px;
}


.dropDown .middle .frame.left {
	float: left;
	width: 12px;
	background: url('../images/spritemap_common_horizontal.png') repeat-y;
}
.dropDown .middle .content {
	float: left;
	width: 722px;
	background: #FCFBF9 /*#f6f3ed*/;
}
.dropDown .middle .frame.right {
	float: left;
	width: 12px;
	background: url('../images/spritemap_common_horizontal.png') -282px -0px repeat-y;
}


.dropDown .bottom .frame.left {
	float: left;
	height: 46px;
	width: 12px;
	background: url("../images/spritemap_common.png") -43px -49px no-repeat;
}
.dropDown .bottom .frame.center {
	float: left;
	height: 46px;
	width: 722px;
	background: url('../images/spritemap_common_vertical.png') 0px -332px repeat-x;
}
.dropDown .bottom .frame.right {
	float: left;
	height: 46px;
	width: 12px;
	background: url("../images/spritemap_common.png") -56px -49px no-repeat;
}

.dropDown .column {
	float: left;
	padding-bottom: 0;
}

.dropDown .column.first {
	width: 180px;
}

.dropDown .column li {
	border: none !important;
}

#CenterConsoleMenu .dropDown .bottom .frame {
	height: 15px;
}*/

/*******************************************************************************************************************
****************************************************************************************** Tabs *******************/
.tabs {
	overflow:hidden;
	margin-top: 10px;
	position: relative;
}

.tabs .tab {
	float: left;
	position: relative;
	margin-right: 2px;
	border: solid 1px #dbd4c5;
	border-bottom: none;
	z-index: 1;
	height: 44px;
	width: 116px;
	background: url('../images/spritemap_common_vertical.png') 0px 0px repeat-x;
}

.tabs > .tabBorder {
	float: none;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 1px;
	z-index: 2;
	background: #dbd4c5;
}

.tabs .tab.active {
	z-index: 3;
	background: #fff none;
}

.tabs .tab a {
	height: 44px;
	width: 116px;
	display: block;
}

.tabs .tab a span {
	font-weight: bold;
	color: #333;
	line-height: 15px;
	padding: 0px 14px;
	position: absolute;
	bottom: 8px;
	display: block;
}

.tabs ~ .content {
	display: none;
}

.tabs ~ .content.active {
	display: block;
}

/*******************************************************************************************************************
****************************************************************************************** Vertical divider ***************/

.vertical_divier {
	width: 2px;
	float: left;
	margin-bottom: -1000px;
	padding-bottom: 1000px;
}
.vertical_divier .top {
	background: url('../images/v_divider_dropdown.png') left top no-repeat;
	height: 28px;
	margin: 0;
    padding: 0;
}
.vertical_divier .center {
	background: url('../images/v_divider_dropdown.png') left center no-repeat;
	height: 100%;
	margin: 0;
    padding: 0;
}
.vertical_divier .bottom {
	background: url('../images/v_divider_dropdown.png') left bottom no-repeat;
	height: 28px;
	margin: 0;
    padding: 0;
}

/************************************************ Vertical divider ************************************************/	
#button {
    background: transparent url('../images/bg_button.png') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
/*    margin-right: 6px; */
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

#button input { 
	border:0;
	background-color:transparent;
    background: transparent url('../images/bg_button_input.png') no-repeat;
    display: block;
    line-height: 14px;
    padding: 0 0 0 18px;
	height:24px;
}