﻿<link type="text/css" href="/Style%20Library/skickadirekt.css" rel="stylesheet">

<div class="cContent" style="font-size: 12px;">
    Beställ och betala frakt via datorn. Skriv ut frakthandlingen och lämna in hos valfritt ombud.<br>
    <br>
    <strong>Viktig information:</strong> Töm cookies och webbhistorik i din webbläsare innan ditt första köp.<br>
    Det kan ta ett par minuter att få din bekräftelse efter fullgjord betalning. Stäng inte ned din webbläsare innan du når bekräftelsesidan. 
    Du kan ha fått bekräftelsemail även om inte bekräftelsesidan har visats. Vi arbetar med att lösa problemen.
</div>
