﻿<div class="borders rounded">
    <div class="paddings lightGradient header topRounded">Våra tjänster</div>
    <div class="paddings bottomRounded topBorder">
        <h3>Brev Skicka lätt</h3>
        <div class="bottomMargin">
            <ul>
                <li>Spårbart</li>
                <li>Inlämnings- och mottagningsbekräftelse</li>
                <li>Framme nästa vardag</li>
            </ul>
            <a href="http://www.posten.se/sv/Privat/Skicka brev och paket/Framme n%C3%A4sta dag/Sidor/Brev-skicka-latt.aspx">Mer om brev Skicka lätt</a>
        </div>

        <h3>Brevpostförskott</h3>
        <div class="bottomMargin">
            <ul>
                <li>Få betalt när försändelsen lämnas ut</li>
                <li>Postförskottsbelopp upp till 10 000 kr</li>
                <li>Lämnas och hämtas på PostNords serviceställen</li>
            </ul>
            <a href="http://www.posten.se/sv/Foretagspost/Brev och paket/Standard/Sidor/Postforskott.aspx">Mer om Brevpostförstkott</a>
        </div>

        <h3>PostNord Parcel 09</h3>
        <div class="bottomMargin">
            <ul>
                <li>Framme före kl 09:00</li>
                <li>Skickas dörr till dörr</li>
                <li>Skickas till företag</li>
            </ul>
            <a href="http://www.postnord.se/sv/foretag/skicka/inrikes/paket/extra-snabbt/Sidor/dpd-foretagspaket-09-00.aspx">Mer om PostNord Parcel 09</a>
        </div>

        <h3>PostNord Parcel 12</h3>
        <div class="bottomMargin">
            <ul>
                <li>Framme före kl 12:00</li>
                <li>Skickas dörr till dörr</li>
                <li>Skickas till företag</li>
            </ul>
            <a href="http://www.postnord.se/sv/foretag/skicka/inrikes/paket/standard/Sidor/dpd-foretagspaket-12-00.aspx#tab1">Mer om PostNord Parcel 12</a>
        </div>

        <h3>PostNord Parcel</h3>
        <div class="bottomMargin">
            <ul>
                <li>Framme innan arbetsdagens slut</li>
                <li>Skickas dörr till dörr</li>
                <li>Skickas till företag</li>
            </ul>
            <a href="http://www.postnord.se/sv/foretag/skicka/inrikes/paket/standard/Sidor/dpd-foretagspaket-12-00.aspx#tab2">Mer om PostNord Parcel</a>
        </div>

        <h3>EMS International Express</h3>
        <div class="bottomMargin">
            <ul>
                <li>Alltid snabbaste leverans i hela världen</li>
                <li>Kvittens av mottagaren kan fås genom att kontakta kundtjänst</li>
                <li>Till privatpersoner och företag i hela världen</li>
            </ul>
            <a href="http://www.posten.se/sv/Foretagspost/Brev och paket/Utrikes/Sidor/EMS-International-Express.aspx">Mer om EMS International Express</a>
        </div>

        <h3>Expressbrev inrikes</h3>
        <div class="bottomMargin">
            <ul>
                <li>Leverans av bud</li>
                <li>Utdelas senast kl 10:00 vardagar</li>
                <li>Tidsgaranti</li>
            </ul>
            <a href="http://www.posten.se/sv/Foretagspost/Brev och paket/Express/Sidor/Expressbrev.aspx">Mer om Expressbrev inrikes</a>
        </div>

        <h3>Expresspaket</h3>
        <div class="bottomMargin">
            <ul>
                <li>Framme nästa vardag före kl 10</li>
                <li>Utkörning till mottagaren</li>
                <li>Leveranstidsgaranti</li>
            </ul>
            <a href="http://www.postnordlogistics.se/sv/tjanster/express-och-bud/Sidor/expresspaket.aspx">Mer om Expresspaket</a>
        </div>

        <h3>PostNord MyPack Home</h3>
        <div class="bottomMargin">
            <ul>
                <li>Leverans hem till dörren</li>
                <li>Aviseras innan leverans</li>
                <li>Skickas till företag och privatpersoner</li>
            </ul>
            <a href="http://www.postnord.se/sv/foretag/skicka/inrikes/paket/Sidor/hempaket.aspx">Mer om PostNord MyPack Home</a>
        </div>

        <h3>Postpaket inrikes</h3>
        <div class="bottomMargin">
            <ul>
                <li>Vanligtvis framme nästa vardag</li>
                <li>Hämtas och lämnas hos ombud</li>
                <li>Kan spåras</li>
            </ul>
            <a href="http://www.posten.se/sv/privat/k%C3%B6p%20och%20s%C3%A4lj%20p%C3%A5%20n%C3%A4tet/framme-nasta-dag/sidor/postpaket.aspx">Mer om Postpaket inrikes</a>
        </div>

        <h3>Postpaket utrikes</h3>
        <div class="bottomMargin">
            <ul>
                <li>Vanligtvis framme inom 2-5 dagar inom Europa</li>
                <li>Till privatpersoner och företag i hela världen</li>
                <li>Lämnas hos ombud</li>
            </ul>
            <a href="http://www.postnordlogistics.se/sv/tjanster/paket/Sidor/postpaket-utrikes.aspx">Mer om Postpaket utrikes</a>
        </div>

        <h3>Rek inrikes</h3>
        <div class="bottomMargin">
            <ul>
                <li>Legitimering och kvittens vid utlämning</li>
                <li>Spårbart</li>
                <li>PostNord tar ekonomiskt ansvar upp till 10 000 kr (5 000 kr för betalningsmedel)</li>
            </ul>
            <a href="http://www.posten.se/sv/Privat/Skicka%20brev%20och%20paket/V%C3%A4rdefullt/Sidor/Rek-inrikes.aspx">Mer om Rek inrikes</a>
        </div>

        <h3>Rek utrikes</h3>
        <div class="bottomMargin">
            <ul>
                <li>PostNord tar ekonomiskt ansvar upp till 10 000 kr</li>
                <li>Du får ett inlämningsbevis</li>
                <li>Enkel tullhantering (upp till 2 000 kr utanför EU)</li>
            </ul>
            <a href="http://www.posten.se/sv/Privat/Skicka%20brev%20och%20paket/Skicka%20utrikes/Sidor/Rek-utrikes.aspx">Mer om Rek utrikes</a>
        </div>
    </div>
</div>