<div id="AllServices" class="module">
	<h3 class="headline">Alla tjänster</h3>
	<span class="subtext">Priser och villkor hittar du under respektive tjänst</span>
	
	<form>
		<div class="headline">
			<div class="edge top">
				<div class="left"></div>
				<div class="right"></div>
			</div>
			<span>Sök efter tjänst</span>
			<div class="edge bottom">
				<div class="left"></div>
				<div class="right"></div>
			</div>
		</div>
		<div>
			<span class="textField"><input type="text"></span><input type="image" src="images/framework/search.png">
			<a href="#">Fann du inte vad du sökte?</a>
		</div>
		<div>
			<input type="radio" name="search_type" checked="checked" >Sök bland resultaten
			<input type="radio" name="search_type">Ny sökning
		</div>
	</form>

	<hr />
	
	<div class="column">
		<span class="headline">Brevtjänster</span>
		<ul>
			<li class="highlight"><span>Avtalsbrev</span></li>
			<li class="highlight"><span>Boka sändning</span></li>
			<li><span>Brev, 1:a-klass inrikes</span></li>
		</ul>
		<span class="headline">Pakettjänster</span>
		<ul>
			<li class="highlight"><span>Bud</span></li>
			<li><span>Collection request</span></li>
		</ul>
	</div>
	<div class="column">
		<span class="headline">Expresstjänster</span>
		<ul>
			<li class="highlight"><span>DPD Företagspaket 09:00</span></li>
			<li class="highlight"><span>EMS International Express</span></li>
			<li><span>Brev, 1:a-klass inrikes</span></li>
		</ul>
	</div>
</div>