#CenterConsoleMenu {
	position: relative;
	margin-bottom: -10px !important;
}

#CenterConsoleMenu .console .column {
	float: left;
	width: 185px;
	padding-bottom: 20px;
}

#CenterConsoleMenu .column.first {
	width: 176px
}
#CenterConsoleMenu .column.first li {
	border-left: solid 1px #dbd4c5;
	border-right: solid 1px #dbd4c5;
}

#CenterConsoleMenu .column.second {
	margin-left: 10px;
	width: 186px;
}
#CenterConsoleMenu .column.second li {
	border-left: solid 1px #dbd4c5;
}

#CenterConsoleMenu .column.third {
	width: 185px;
}

#CenterConsoleMenu .column.fourth {
	width: 175px
}
#CenterConsoleMenu .column.fourth li {
	border-right: solid 1px #dbd4c5;
}

#CenterConsoleMenu .divider {
	float: left;
	width: 1px;
	height: 206px;
	background-color: #dbd4c5;
	background-position: 0px -216px;
	background-repeat: no-repeat;
}

#CenterConsoleMenu .console .header {
	height: 44px;
}

#CenterConsoleMenu .header span {
	font-size: 18px;
	line-height: 18px;
}

#CenterConsoleMenu li {
	padding: 5px 14px;
	height: 20px;
	background: #f6f3ed none no-repeat scroll 0px -97px;
}


#CenterConsoleMenu li + li {
	background-image: url("../images/spritemap_common.png");
}

#CenterConsoleMenu li.header {
	position: relative;
	padding: 0px;
	height: 44px;
	margin: 0;
	border: none !important;
}

#CenterConsoleMenu li.headline span.expander {
	height: 44px;
	width: 10px;
	padding-bottom: 0px;
	display: inline-block;
}

#CenterConsoleMenu li.headline span {
	display: inline-block;
	vertical-align:bottom;
	width: 100px;
	padding-bottom: 5px;
}

#CenterConsoleMenu li.more {
	position: relative;
	height: 44px;
	padding: 0px;
	border-top: solid 1px #dbd4c5;
	border-bottom: solid 1px #dbd4c5;
	background: #f6f3ed url('../images/center_console_menu/standard_gradients.png') 0px 0px repeat-x;
}

#CenterConsoleMenu li .slide {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 14px;
}

#CenterConsoleMenu .more a {
	display: block;
	position: relative;
}

#CenterConsoleMenu li.more a span {
	display: inline-block;
	color: #333;
}

#CenterConsoleMenu li.more a .arrow {
	position: absolute;
	top: 50%;
	right: 14px;
	margin-top: -5px;
}


/*
#CenterConsoleMenu li.more:hover a .arrow {
	background-position: -70px -0px;
}
*/

/*
#CenterConsoleMenu li.more:hover .edge .left,
#CenterConsoleMenu li.more.active:hover .edge .left {
	background-position: 0px -55px;
}
#CenterConsoleMenu li.more:hover .edge .right,
#CenterConsoleMenu li.more.active:hover .edge .right {
	background-position: -6px -55px
}

#CenterConsoleMenu li.more.active .arrow {
    background: url("../images/arrows.png") no-repeat -79px 0;
}
#CenterConsoleMenu li.more.active:hover .arrow {
    background: url("../images/arrows.png") no-repeat -98px 0;
}*/

/************************************************************** Indent */
#CenterConsoleMenu li.more .indent {
	display: none;
	position: absolute;
	bottom: -19px;
	width: 100%;
	height: 19px;
	background: none;
	text-align: center;
}



#CenterConsoleMenu li.more .indent span {
	display: inline-block;
	height: 19px;
	width: 17px;
	background: url('../images/center_console_menu/center_console_menu_se.png') -2px -144px no-repeat;
}

#CenterConsoleMenu li.more.active .indent span {
	background: url('../images/spritemap_common.png') -116px -50px no-repeat;
}

/**************************************************************  */


#CenterConsoleMenu li.more.active {
	border-top: solid 1px #dbd4c5;
	border-bottom: solid 1px #dbd4c5;
	border-left-color: #dbd4c5 !important;
	border-right-color: #dbd4c5 !important;
	background: url('../images/center_console_menu/standard_gradients.png') 0px -44px repeat-x;
	background: url("../images/spritemap_common_vertical.png") 0 -44px repeat-x;
}

#CenterConsoleMenu > div {
	overflow: hidden;
	position: relative;
	z-index: 12;
}

#CenterConsoleMenu li.more .arrow {
	width: 13px;
	height: 13px;
	background-image: url('../images/spritemap_common.png');
	background-position: -264px -77px;
}

#CenterConsoleMenu li.more:hover,
#CenterConsoleMenu li.more.active:hover {
	border-left-color: transparent !important;
	border-right-color: transparent !important;
	background-position: 0px -106px;
	background-repeat: repeat-x;
}
#CenterConsoleMenu li.more:hover span {
	color: #fff;
}
#CenterConsoleMenu li.more:hover .indent,
#CenterConsoleMenu li.more.active .indent {
	display: block;
}

#CenterConsoleMenu li.more:hover .arrow {
	background-position: -320px -77px;
}
#CenterConsoleMenu li.more.active .arrow {
	background-position: -236px -77px;
}
#CenterConsoleMenu li.more.active:hover .arrow {
	background-position: -292px -77px;
}

/************************************************************** Dropdown */

#CenterConsoleMenu .dropDown {
	display: none;
	position: absolute;
	left: -6px;
	top: 217px;
	width: 746px;
	height: auto;/*272px;*/
	z-index: 11;
}

/************************************************************** Dropdown Edges */

#CenterConsoleMenu .dropDown .middle {
	height: 211px;
}

#CenterConsoleMenu .dropDown .middle .center {
	margin: 0 10px;
}

#CenterConsoleMenu .dropDown .column {
	height: 195px;
	position: relative;
}

#CenterConsoleMenu .dropDown .column.second {
	width: 185px;
	margin-left: 8px;
}

#CenterConsoleMenu .dropDown .column.third {
	width: 185px;
}

#CenterConsoleMenu .dropDown .column.fourth {
	width: 169px;
}

#CenterConsoleMenu .dropDown .column + .column {
	background: url('../images/dividers/vertical_2.png') left center no-repeat;
}

#CenterConsoleMenu .dropDown .banner {
	color: #333;
}

#CenterConsoleMenu .dropDown .banner img {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

#CenterConsoleMenu .dropDown .column.fourth.banner > div > div + div {
	margin-top: 10px;
}


#CenterConsoleMenu .dropDown .column > div {
	border: none;
	background: none;
	padding: 0px 14px;
}

#CenterConsoleMenu .dropDown .column .landingLink {
	margin-top: 10px;
	padding-top: 10px;
	background: url('../images/dividers/horizontal_1.png') no-repeat;
}


#CenterConsoleMenu .dropDown .quote {
	padding: 10px 8px;
	height: 135px;
}

#CenterConsoleMenu .dropDown .quote span {
	padding-left: 20px;
	font-style: italic;
	font-weight: bold;
	color: #333;
	background: url('../images/center_console_menu/quotation.png') left top no-repeat;
}

#CenterConsoleMenu .dropDown .landingLink {
	background: url('../images/center_console_menu/h_divider.png') center top no-repeat;
	margin: 0;
	padding: 10px 8px;
}

#CenterConsoleMenu .dropDown .bottom > * {
	height: 15px;
}

#CenterConsoleMenu .dropDown .bottom .left {
	background: url('../images/spritemap_common.png') -43px -49px;
}

#CenterConsoleMenu .dropDown .bottom .center {
	background: url('../images/spritemap_common_vertical.png') 0px -332px repeat-x;
}

#CenterConsoleMenu .dropDown .bottom .right {
	background: url('../images/spritemap_common.png') -56px -49px;
}



#CenterConsoleMenu .dropDown .column {
	margin-top: 15px;
}
