<div class="module faq">
	<div class="edge top">
		<div class="left"></div>
		<div class="right"></div>
	</div>
	
	<div class="content">		
		<div class="header theme">
			<span>Porto och pris</span>
			<div class="decoration"></div>
		</div>
		
		<div class="body">
			<ul>
				<li>
					<span class="question">
						<a href="#">Kan jag använda inrikes valörlöst frimärke på utrikes kort/brev?</a>
						<span class="arrow large secondary-secondary"></span>
					</span>
					<span class="answer">
						Ja, det är värt 6:- så du måste tilläggsfrankera upp till 12:-.<br/>
						Använder du valörlöst julfrimärke är det värt 5:50:- och måste tilläggsfrankeras med 6:50:-.
					</span>
				</li>
				<li>
					<span class="question">
						<a href="#">Kan jag använda inrikes valörlöst frimärke på utrikes kort/brev?</a>
						<span class="arrow large secondary-secondary"></span>
					</span>
					<span class="answer">
						Ja, det är värt 6:- så du måste tilläggsfrankera upp till 12:-.<br/>
						Använder du valörlöst julfrimärke är det värt 5:50:- och måste tilläggsfrankeras med 6:50:-.
					</span>
				</li>
				<li>
					<span class="question">
						<a href="#">Kan jag använda inrikes valörlöst frimärke på utrikes kort/brev?</a>
						<span class="arrow large secondary-secondary"></span>
					</span>
					<span class="answer">
						Ja, det är värt 6:- så du måste tilläggsfrankera upp till 12:-.<br/>
						Använder du valörlöst julfrimärke är det värt 5:50:- och måste tilläggsfrankeras med 6:50:-.
					</span>
				</li>
			</ul>
		</div>
		
		<div class="foot">
			<a href="#" class="link theme">Fick du inte svar?<span class="arrow"></span></a>
		</div>
	</div>
	
	<div class="edge bottom">
		<div class="left border"></div>
		<div class="right border"></div>
	</div>
</div>