<div class="module faq">
	<div class="category">
		<div class="edge top">
			<div class="left"></div>
			<div class="right"></div>
		</div>

		<div class="header theme">
			<span>Välj kategori här</span>
			<div class="decoration"></div>
		</div>
		<div class="body">
			<span class="headline">Privat</span>
			<select>
				<option>Porto och pris</option>
			</select>
		</div>

		<div class="indent"><span></span></div>

		<div class="edge bottom">
			<div class="left border"></div>
			<div class="right border"></div>
		</div>
	</div>

	<div class="content">
		<div class="edge top">
			<div class="left"></div>
			<div class="right"></div>
		</div>

		<div class="header theme">
			<span>Porto och pris</span>
		</div>

		<ul class="body">
			<li>
				<a href="#" class="question">
					Kan jag använda inrikes valörlöst frimärke på utrikes kort/brev?<div class="arrow medium primary down"></div>
				</a>
				<div class="answer">
					Ja, det är värt 6:- så du måste tilläggsfrankera upp till 12:-.<br/>
					Använder du valörlöst julfrimärke är det värt 5:50:- och måste tilläggsfrankeras med 6:50:-.
				</div>
			</li>
			<li>
				<a href="#" class="question">
					Kan jag använda inrikes valörlöst frimärke på utrikes kort/brev?<div class="arrow medium primary down"></div>
				</a>
				<span class="answer">
					Ja, det är värt 6:- så du måste tilläggsfrankera upp till 12:-.<br/>
					Använder du valörlöst julfrimärke är det värt 5:50:- och måste tilläggsfrankeras med 6:50:-.
				</span>
			</li>
			<li>
				<a href="#" class="question">
					Kan jag använda inrikes valörlöst frimärke på utrikes kort/brev?<div class="arrow medium primary down"></div>
				</a>
				<span class="answer">
					Ja, det är värt 6:- så du måste tilläggsfrankera upp till 12:-.<br/>
					Använder du valörlöst julfrimärke är det värt 5:50:- och måste tilläggsfrankeras med 6:50:-.
				</span>
			</li>
		</ul>

		<div class="foot">
			<a href="#">Fick du inte svar på din fråga? Besök kundservice</a>
		</div>

		<div class="edge bottom">
			<div class="left border"></div>
			<div class="right border"></div>
		</div>
	</div>

	<div class="contact">
		<div class="edge top">
			<div class="left"></div>
			<div class="right"></div>
		</div>

		<div class="header theme">
			<span>Kontakt privat</span>
		</div>
		<div class="body">
			<div class="box">
				<span class="headline"n>Kontakta oss på</span>
				kunderservice@posten.se
			</div>
			<div class="box">
				<span class="headline">Tlf.: 90 200</span>
				(Vardagar kl. 08 - 21)
				(Helgdagar kl. 09 - 17)
			</div>
			<div class="box">
				<span class="headline">Från utlandet:</span>
				+46 771 99 02 00
			</div>
		</div>

		<div class="edge bottom">
			<div class="left border"></div>
			<div class="right border"></div>
		</div>
	</div>
</div>