<div id="Footer">
	<div class="left"></div>
	<div class="mid">
		<div class="box padded">
			<div class="logo"></div>
			<h3><span>Kundservice</span></h3>
			<ul>
				<li><a href="#">Adresser</a></li>
				<li><a href="#">E-postadresser</a></li>
				<li><a href="#">Telefonnummer</a></li>
			</ul>
		</div>
		<div class="box padded">
			<h3><span>Privat</span></h3>
			<ul>
				<li><a href="#">Brev</a></li>
				<li><a href="#">Paket</a></li>
				<li><a href="#">Frimärken</a></li>
				<li><a href="#">ePostboxen</a></li>
				<li><a href="#">Dögnposten</a></li>
				<li><a href="#">Tjänster</a></li>
				<li><a href="#">Kontakt</a></li>
				<li><a href="#" class="more">Mer</a></li>
			</ul>
		</div>
		<div class="box padded">
			<h3><span>Företagspost</span></h3>
			<ul>
				<li><a href="#">Brev</a></li>
				<li><a href="#">Paket</a></li>
				<li><a href="#">Postexpress &amp; bud</a></li>
				<li><a href="#">Facilitetstjänster</a></li>
				<li><a href="#">E-handel</a></li>
				<li><a href="#">Kontakt</a></li>
				<li><a href="#" class="more">Mer</a></li>
			</ul>
		</div>
		<div class="box padded">
			<h3><span>Företags-kommunikation</span></h3>
			<ul>
				<li><a href="#">Adresserat</a></li>
				<li><a href="#">Uaddresserat</a></li>
				<li><a href="#">Svepet</a></li>
				<li><a href="#">E-tjänster</a></li>
				<li><a href="#">Rådgivning</a></li>
				<li><a href="#">Kontakt</a></li>
				<li><a href="#" class="more">Mer</a></li>
			</ul>
		</div>
		<div class="box padded">
			<h3><span>Logistik</span></h3>
			<ul>
				<li><a href="#">Paket</a></li>
				<li><a href="#">Pallar</a></li>
				<li><a href="#">Gods</a></li>
				<li><a href="#">Lager</a></li>
				<li><a href="#">Logistik</a></li>
				<li><a href="#">Kontakt</a></li>
				<li><a href="#" class="more">Mer</a></li>
			</ul>
		</div>
	</div>
	<div class="right"></div>
	<div class="caption">
		<a href="#">2010 Posten Norden AB (publ)</a> |
		<a href="#">Om denna websida</a> |
		<a href="#">Personliga upplysningar</a> |
		<a href="#">Sitemap</a>
	</div>
</div>