#GlobalMenu {
	position: relative;
	float: right;
	z-index: 101;
}

#GlobalMenu > ul {
	border-left: solid 1px #dbd4c5;
	border-right: solid 1px #dbd4c5;
	border-bottom: solid 1px #dbd4c5;
	padding: 0px;
	margin: 0px;
	height: 28px;
	background: url('../images/spritemap_common_vertical.png');
	overflow: visible;
}

#GlobalMenu a.home span {
	display: inline-block;
	width: 13px;
	height: 11px;
	background: url('../images/spritemap_common.png') 0px -62px no-repeat;
}



#GlobalMenu > ul > li {
	float: left;
	padding: 0px;
	position: relative;
}

#GlobalMenu > ul > li + li {
	background: url('../images/dividers/vertical_3.png') left center no-repeat;
}

#GlobalMenu > ul a {
	font-size: 14px;
	line-height: 28px;
}


#GlobalMenu > ul > li > a {
	padding: 5px 14px;
}

#GlobalMenu img {
	border: none;
	vertical-align: baseline;
}

#GlobalMenu .dropDown .bottom .column li {
	height: 18px;
}

/************************************************************** Indent */
#GlobalMenu .indent {
	display: none;
	position: absolute;
	bottom: -19px;
	width: 100%;
	height: 19px;
	background: none;
	text-align: center;
	z-index: 3;
}
#GlobalMenu .active .indent {
	display: block;
}

#GlobalMenu .indent span {
	display: inline-block;
	height: 19px;
	width: 19px;
	background: url('../images/spritemap_common.png') -134px -50px no-repeat;
}

/************************************************************** Dropdown */
#GlobalMenu .vertical_divier .bottom, #GlobalMenu .vertical_divier .center {
    height: 0;
}

#GlobalMenu .dropDown {
	right: -5px;
	top: 36px;
	width: 550px;
}


/*
#GlobalMenu .dropDown > * > * {
	float: left;
	width: 12px;
}

#GlobalMenu .dropDown > * {
	position: relative;
	overflow: hidden;
}

#GlobalMenu .dropDown .header .headline {
	position: absolute;
	bottom: 4px;
	font-size: 16px;
	color: #fff;
}

#GlobalMenu .dropDown a {
}

#GlobalMenu .dropDown .bottom a {
	color: #666;
	font-weight: bold;
}
*/

/************************************************************** Dropdown Edges */
/*
#GlobalMenu .dropDown .center {
	width: 526px;
}
#GlobalMenu .dropDown .top > * {
	height: 46px;
}
#GlobalMenu .dropDown .middle > * {
	height: auto;
}
#GlobalMenu .dropDown .bottom > * {
	height: 68px;
}



#GlobalMenu .dropDown .top .left {
	background-position: 0px 0px;
}

#GlobalMenu .dropDown .top .right {
	background-position: -13px 0px;
}


#GlobalMenu .dropDown .middle .left,
#GlobalMenu .dropDown .middle .right {
	background-image: url('../images/spritemap_common_horizontal.png');
	background-repeat: repeat-y;
	width: auto;
	overflow: hidden;
}
#GlobalMenu .dropDown .middle .left {
	background-position: 0px 0px;
	padding-left: 7px;
}
#GlobalMenu .dropDown .middle .center {
	overflow: hidden;
	background-color: #fff;
	background: #fff url('../images/v_divider_dropdown.png') center center no-repeat;
	padding: 0 10px 0 0;
}
#GlobalMenu .dropDown .middle .right {
	background-position: 249px 0px;
	padding-right: 7px;
}


#GlobalMenu .dropDown .bottom > * {
	background: url('../images/spritemap_common.png') no-repeat;
}
#GlobalMenu .dropDown .bottom .left {
	background-position: -457px -10px;
}
#GlobalMenu .dropDown .bottom .center {
	background: url('../images/spritemap_common_vertical.png') 0px -348px repeat-x;
}
#GlobalMenu .dropDown .bottom .right {
	background-position: -470px -10px;
}
*/
/************************************************************** Dropdown Columns */

#GlobalMenu .dropDown .column {
	width: 232px;
	float: left;
}

#GlobalMenu .dropDown .middle .column {
	min-height: 120px;
	max-height: 250;
	padding: 15px 8px 22px 14px;
}

#GlobalMenu .dropDown .middle .column li + li {
	margin-top: 3px;
}

#GlobalMenu .dropDown .column + .column {
/*	background: url('../images/global_menu/global_menu.png') left -158px no-repeat;*/
	margin-left: 14px;
	padding-left: 14px;
}

#GlobalMenu .dropDown .column li {
	height: 22px;
}

#GlobalMenu .dropDown .bottom .column {
	height: auto;
	padding: 10px 8px 0px 8px;
}

#GlobalMenu .dropDown .bottom .column + .column {
	background: url('../images/global_menu/v_divider_dropdown_footer.png') left center no-repeat;
}

#GlobalMenu .dropDown .bottom .column li a {
	font-size: 12px;
}

#GlobalMenu .dropDown .column li a + a {
	margin-left: 10px;
}
