<div class="module mainCampaignModule multiple">
	<div class="edge top">
		<div class="left"></div>
		<div class="right"></div>
	</div>
	
	<ul>
		<li>
			<div class="textBox alignLeft">
				<div class="indent"></div>
				<div class="topBorder"></div>
				<div class="leftBorder">
					<div class="content rightBorder">
						<span class="headline">Header that can span several rows</span>
						<a href="#" class="link">Link to a new page<span class="arrow"></span></a>
					</div>
				</div>
				<div class="bottomBorder"></div>
			</div>
			<img src="content/banner_w4.png" alt="Content-based description" />
		</li>
		<li>
			<div class="textBox alignRight">
				<div class="indent"></div>
				<div class="topBorder"></div>
				<div class="leftBorder">
					<div class="content rightBorder">
						<span class="headline">Header that can span several rows</span>
						<a href="#" class="link">Link to a new page<span class="arrow"></span></a>
					</div>
				</div>
				<div class="bottomBorder"></div>
			</div>
			<img src="content/banner_w4.png" alt="Content-based description" />
		</li>
		<li>
			<div class="textBox alignRight">
				<div class="indent"></div>
				<div class="topBorder"></div>
				<div class="leftBorder">
					<div class="content">
						<span class="headline">Header that can span several rows</span>
						<a href="#" class="link">Link to a new page<span class="arrow"></span></a>
					</div>
				</div>
				<div class="bottomBorder"></div>
			</div>
			<img src="content/banner_w4.png" alt="Content-based description" />
		</li>
	</ul>
	
	<div class="paginator">
		<span class="active">1</span><span>2</span>
	</div>
	
	<div class="edge bottom">
		<div class="left"></div>
		<div class="right"></div>
	</div>
	

</div>