<div class="module relatedContent">
	<div class="edge outer top">
		<div class="left border"></div>
		<div class="right border"></div>
	</div>
	
	<div class="header">
		<span>Relaterat innehåll:</span>
		<a href="#" class="control">Visa alla<span class="arrow medium primary down"></span></a>
	</div>
	
	<div class="content links">
		<ul class="column">
			<li><a href="#" class="link">Lorem Ipsum dolar sed do tempor<span class="arrow"></span></a></li>
			<li><a href="#" class="link">Lorem Ipsum<span class="arrow"></span></a></li>
			<li><a href="#" class="link">Lorem Ipsum<span class="arrow"></span></a></li>
			<li><a href="#" class="link">Lorem Ipsum<span class="arrow"></span></a></li>
			<li><a href="#" class="link">Lorem Ipsum<span class="arrow"></span></a></li>
		</ul>
		
		<ul class="column links">
			<li><a href="#" class="link">Lorem Ipsum dolar sed do tempor<span class="arrow"></span></a></li>
			<li><a href="#" class="link">Lorem Ipsum<span class="arrow"></span></a></li>
			<li><a href="#" class="link">Lorem Ipsum<span class="arrow"></span></a></li>
			<li><a href="#" class="link">Lorem Ipsum<span class="arrow"></span></a></li>
			<li><a href="#" class="link">Lorem Ipsum<span class="arrow"></span></a></li>
		</ul>
		
		<ul class="column links">
			<li><a href="#" class="link">Lorem Ipsum dolar sed do tempor<span class="arrow"></span></a></li>
			<li><a href="#" class="link">Lorem Ipsum<span class="arrow"></span></a></li>
			<li><a href="#" class="link">Lorem Ipsum<span class="arrow"></span></a></li>
			<li><a href="#" class="link">Lorem Ipsum<span class="arrow"></span></a></li>
			<li><a href="#" class="link">Lorem Ipsum<span class="arrow"></span></a></li>
		</ul>
	</div>
	
	<div class="edge outer bottom">
		<div class="left border"></div>
		<div class="right border"></div>
	</div>
</div>