
.relatedProducts {
	overflow: hidden;
}

.relatedProducts > div {
	position: relative;
	float: left;
}

.relatedProducts ul {
	margin: 10px 0 0 0;
	padding: 0px;
	list-style: none;
	position: relative;
	z-index: 2;
}

.relatedProducts li {
	padding: 0 14px;
}

.relatedProducts li.divider {
	background: url('../images/dividers/horizontal_1.png') center center no-repeat;
    height: 2px;
    margin: 10px 0;
}
.relatedProducts > div.left {
	width: 171px;
	height: 274px;
	margin-top: 16px;
	background: url('../images/spritemap_common_horizontal.png') -556px 0px;
	
}

.relatedProducts > div.center {
	width: 206px;
	height: 290px;
	background: url('../images/spritemap_common_horizontal.png') -727px 0 repeat-y;
}

.relatedProducts > div.right {
	width: 171px;
	height: 274px;
	margin-top: 16px;
	background: url('../images/spritemap_common_horizontal.png') -933px 0px;
}

.relatedProducts span.header {
	display: block;
	height: 35px;
	line-height: 35px;
	color: #fff;
	font-weight: bold;
	padding: 0 14px;
}

.relatedProducts div.left span.header {
	background: url('../images/related_products_header_se.png') left top no-repeat;
}

.relatedProducts div.center span.header {
	height: 41px;
	line-height: 41px;
	background: url('../images/related_products_header_se.png') -171px top no-repeat;
}

.relatedProducts div.right span.header {
	background: url('../images/related_products_header_se.png') -377px top no-repeat;
}

.relatedProducts div.footer {
	width: 548px;
	height: 40px;
	position: static;
}

.relatedProducts div.footer div {
	width: 100%;
	height: 10px;
	background: url('../images/spritemap_common.png') no-repeat;
}

.relatedProducts .gradient {
	height: 129px;
	width: 204px;
	position: absolute;
	left: 1px;
	bottom: 0px;
	z-index: 1;
	background: url('../images/spritemap_common_vertical.png') 0 -202px repeat-x;
}

.relatedProducts a {
	color: #333;
	padding-right: 9px;
	background: url('../images/link_arrow_gray.png') right no-repeat;
}

.relatedProducts .img {
	position: absolute;
	width: 100%;
	bottom: -25px;
	z-index: 5;
	text-align: center;
}

.relatedProducts div.center .img {
	bottom: -40px;
}