<div id="DocumentSearchResult" class="module">
	<div class="header theme">
		<div class="edge top">
			<div class="left"></div>
			<div class="right"></div>
		</div>
		<span>Matchande dokument(20 st)</span>
	</div>
	
	<div class="body">
		<ul>
			<li><a href="#" class="file pdf">14/17 Privat eBREV webb.</a></li>
			<li><a href="#" class="file pdf">Faktablad eBrev enkel</a></li>
			<li><a href="#" class="file pdf">Faktabald eBrev DR</a></li>
			<li><a href="#" class="file doc">Frimärken</a></li>
			<li><a href="#" class="file pdf">Privat eBrev webb.</a></li>
			<li><a href="#" class="file pdf">Faktablad eBrev enkel</a></li>
		</ul>
		
		<div class="paginator">
			<div><a href="#" class="button arrowLeft"><div></div></a></div>
			<div class="pages">
				<span>1 / 4</span>
			</div>
			<div><a href="#" class="button arrowRight"><div></div></a></div>
		</div>
	
		<div class="edge outer bottom">
			<div class="left border"></div>
			<div class="right border"></div>
		</div>
	</div>
</div>