<div class="module webShop">
	<div class="edge top">
		<div class="left border"></div>
		<div class="right"></div>
	</div>
	<div class="edge bottom">
		<div class="left border"></div>
		<div class="right"></div>
	</div>
	<div class="content">
		<div class="shoppingBasket primaryGradient"><a href="#"><span></span>Visa varukorg</a></div>
		<div class="articles"><span>5 artiklar | 12.050 kr.</span></div>
		<div class="checkout theme"><a href="#"><span>Till kassan</span></a></div>
	</div>
	<div class="notification">
		<strong>Produkten är tillagd</strong><br>
		Din varukorg har uppdaterats
	</div>
	
	<div class="dropDown">
		<div class="indent"><span></span></div>
		<div class="top">
			<div class="left" ></div>
			<div class="center header theme">
				<span>Varukorg</span>
				<div class="close"></div>
			</div>
			<div class="right"></div>
		</div>
		<div class="middle">
			<div class="left">&nbsp;</div>
			<div class="center">
				<ul>
					<li class="gridHeader">
						<div class="article">Artikel</div><div class="description">Beskrivning</div><div class="quantity">Antal</div><div class="price">Pris</div><div class="delete">&nbsp;</div>
					</li>
					<li>
						<div class="article"><img src="content/basket_1.png" alt="C5 kuvert" /></div>
						<div class="description"><span>C5 kuvert (50 x 70 cm) inrikes porto ingår</span></div>
						<div class="quantity"><input type="text" name="" value="1" /></div>
						<div class="price"><span class="theme">12.000 kr.</span></div>
						<div class="delete"><a href="#"></a></div>
					</li>
					<li>
						<div class="article"><img src="content/basket_2.png" alt="Kartonger" /></div>
						<div class="description"><span>Kartonger, inrikes porto ingår.<br />Innermått: 342 x 219 x 120 mm</span></div>
						<div class="quantity"><input type="text" name="" value="2" /></div>
						<div class="price"><span class="theme">50 kr.</span> <span>(2 x 15 kr.)</span></div>
						<div class="delete"><a href="#"></a></div>
					</li>
				</ul>
				<div class="freight"><span><strong>Frakt:</strong> (fraktfritt) <a href="#"></a></span><span class="rightAlign">0 kr.</span></div>
				<div class="sum"><span>Totalt (inkl. moms): </span><span class="rightAlign theme">12.050 kr.</span></div>
			</div>
			<div class="right">&nbsp;</div>
		</div>
		<div class="bottom">
			<div class="left"></div>
			<div class="center">
				<div><a href="#" class="link basketUpdate">Ändra varukorg<span class="arrow"></span></a> <a href="#" class="linkBtn">Till kassan</a></div>
			</div>
			<div class="right"></div>
		</div>
	</div>
</div>