.campaign {
	position: relative;
	overflow: hidden;
}

.campaign h1 {
	color: #4e8fec;
	clear: left;
}

/*******************************************************************************************************************
****************************************************************************************** campaign ***********/

.campaign.border {
	position: relative;
	overflow: hidden;
	background: url('../images/banner_border_w1.png') repeat-y;
}

.box.colspan-2 .campaign.border {
	background: url('../images/banner_border_w2.png') repeat-y;
}

.box.colspan-3 .campaign.border {
	background: url('../images/banner_border_w3.png') repeat-y;
}

.box.colspan-4 .campaign.border {
	background: url('../images/banner_border_w4.png') repeat-y;
}

.campaign * {
	font-size: 14px;
}
/*
.campaign .edge {
	position: absolute;
	height: 5px;
}
*/
.campaign .header {
/*	margin: 1px 1px 0px 1px;
	padding: 7px 14px;*/
	padding: 0px 14px 2px;
}

.campaign .header {
	line-height: 44px;
	border: 1px solid #dbd4c5;
	border-bottom: none;
}

.campaign .tabs a {
	display: block;
	padding: 0px 10px 0;
	height: 30px;
	line-height: 30px;
	font-weight: bold;
	color: #333;
	font-size: 16px;
}

.campaign .tabs .active a {
	color: #194b96;
}

.campaign .content > * {
	padding: 2px 14px;
}

.campaign .content > img {
	padding: 0px;
}

.campaign .content li {
	list-style: inside disc;
}



.campaign .headline {
	font-size: 16px;
	color: #194b96;
}

.campaign .footer {
/*	background: url('../images/corner_sprite.png') 0px -108px repeat-x;*/
	background-color: #f9f9f6;
	border: solid 1px #dbd4c5;
	border-top: none;
/*	margin: 0px 1px;*/
	height: 40px;
	line-height: 40px;
	clear: left;
	bottom: 0px;
	text-align: right;
	
}

.campaign img {
	display: block;
}

.campaign a {
	
	font-size: 14px;
}
.campaign ul a {
}

.campaign .tabs {
	padding: 0px;
	margin: 0px;
	margin-top: 9px;
	border-bottom: 1px solid #dbd4c5;
	/*background: url('../images/campaign_spots_tabs_bg.png') bottom repeat-x;*/
}

.campaign .tabs > * {
	display: inline-block;
	width: 105px;
	position: relative;
	border: 1px solid #ddd6c8;
	border-bottom: none;
	margin-right: 2px;
	height: 30px;
	vertical-align: bottom;
	background: url('../images/corner_sprite.bak.png') 0px -54px repeat-x;
}

.campaign .tabs > *.active {
	height: 31px;
	bottom: -1px;
	background: #fff;
}

.campaign .tabs .headline {
	color: #2C5695;
	padding: 5px 10px;
}

.campaign .tabs .active span {
	color: #2C5695;
}

/*
.campaign .tabs .active .center {
	height: 36px;
	background: url('../images/campaign_spots_tab_active_center.png');
}

.campaign .tabs .active .left, .campaign .tabs .right {
	height: 36px;
	width: 5px;
	background: url('../images/campaign_spots_tab_active_left.png');
}

.campaign .tabs .active .right {
	background: url('../images/campaign_spots_tab_active_right.png');
}*/

.campaign .footer a {
	font-weight: bold;
	margin: 0px 14px;
}

.campaign ul {
	padding: 0 0 0 15px;
	margin: 0px;
}

.campaign ul.striped {
	padding: 0px;
	list-style: none;
}

.campaign ul.striped li {
	border: solid 1px #d4d3d0;
	border-bottom: none;
	padding: 10px;
}

.campaign ul.striped li:first-child {
	border-top: none;
}

.campaign ul.striped span {
	font-size: 10px;
	color: #777;
}

/*.campaign ul.striped a {
	color: #2c5695;
	font-weight: bold;
	margin-right: 20px;
}*/

.campaign li {
	position: relative;
}

.campaign li span {
	position: absolute;
	display: inline-block;
	top: 12px;
	zoom: 1;
}

.campaign li div {
	padding-left: 70px;
	width: 270px;
}

.campaign li a {
	z-index: 1;
	display: inline;
	
}

.campaign ul.striped li.alt {
	background-color: #faf9f6;
}

.campaign input[type='text'] {
	border: solid 1px #ccc;
	margin-bottom: 10px;
}

.campaign button {
	float: right;
	border: none;
	background: url('../images/button_bg.png') repeat-x;
}

.module img.left {
	float: left;
	margin-right: 14px;
}

.campaign .content + .content {
	padding-top: 0px;
} 

.campaign div.shop {
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.campaign div.shop input[type='text'] {
	width: 50px;
}

.campaign div.shop input[type='submit'] {
	border: none;
	background: url('../images/button_bg.png') repeat-x;
}