<div class="module faq headerTheme footerPrimary">
	<div class="content">
		<div class="header">
			<span>Porto och pris</span>
			<div class="questionMark"></div>
		</div>
		
		<div class="body">
			<ul>
				<li>
					<span class="question">
						<a href="#">Kan jag använda inrikes valörlöst frimärke på utrikes kort/brev?</a>
						<span class="arrow large secondary-secondary"></span>
					</span>
					<span class="answer">
						Ja, det är värt 6:- så du måste tilläggsfrankera upp till 12:-.<br/>
						Använder du valörlöst julfrimärke är det värt 5:50:- och måste tilläggsfrankeras med 6:50:-.
					</span>
				</li>
				<li>
					<span class="question">
						<a href="#">Kan jag använda inrikes valörlöst frimärke på utrikes kort/brev?</a>
						<span class="arrow large secondary-secondary"></span>
					</span>
					<span class="answer">
						Ja, det är värt 6:- så du måste tilläggsfrankera upp till 12:-.<br/>
						Använder du valörlöst julfrimärke är det värt 5:50:- och måste tilläggsfrankeras med 6:50:-.
					</span>
				</li>
				<li>
					<span class="question">
						<a href="#">Kan jag använda inrikes valörlöst frimärke på utrikes kort/brev?</a>
						<span class="arrow medium down"></span>
					</span>
					<span class="answer">
						Ja, det är värt 6:- så du måste tilläggsfrankera upp till 12:-.<br/>
						Använder du valörlöst julfrimärke är det värt 5:50:- och måste tilläggsfrankeras med 6:50:-.
					</span>
				</li>
			</ul>
		</div>
		
		<div class="footer">
			<a href="#" class="link">Fick du inte svar?</a>
		</div>
	</div>
</div>