<div id="GlobalMenu">
	<div class="edge bottom"><div class="left border"></div><div class="right border"></div></div>
	
	<ul>
		<li><a href="#" class="home"><span></span></a></li>
    	<li class="dropDownMenu first"><div class="indent"><span></span></div><a href="#">Om posten</a></li>
		<li class="dropDownMenu second"><div class="indent"><span></span></div><a href="#">Kundservice</a></li>
		<li><a href="#">In English</a></li>
	</ul>
	
	<!-- First dropdown -->
	<div class="dropDown first">
		<div class="top">
			<div class="left" ></div>
			<div class="center header theme">
				<span class="headline">Om Posten</span>
				<div class="close"></div>
			</div>
			<div class="right"></div>
		</div>
		<div class="middle">
			<div class="left">&nbsp;</div>
			<div class="center">
				<div class="column first">
					<ul>
						<li><a href="#">Verksamheten</a></li>
						<li><a href="#">Financiell information</a></li>
						<li><a href="#">Socialt ansvar</a></li>
						<li><a href="#">Kvalitet</a></li>
						<li><a href="#">Miljö</a></li>
					</ul>
				</div>
				<div class="column second">
					<ul>
						<li><a href="#">Design</a></li>
						<li><a href="#">Sponsorer</a></li>
						<li><a href="#">Press</a></li>
						<li><a href="#">Lediga jobb</a></li>
					</ul>
				</div>
			</div>
			<div class="right">&nbsp;</div>
		</div>
		<div class="bottom">
			<div class="left"></div>
			<div class="center">
				<div class="column first">
						<ul>
							<li class="headline">Mer om Posten Norden:</li>
							<li><a href="#" class="external">Posten.com - Corporate website<span></span></a></li>
						</ul>
					</div>
					<div class="column second">
						<ul>
							<li></li>
							<li>
								<a href="#" class="external">Posten.dk<span></span></a>
								<a href="#" class="external">Posten.fi<span></span></a>
								<a href="#" class="external">Posten.no<span></span></a>
							</li>
						</ul>
					</div>
			</div>
			<div class="right"></div>
		</div>
	</div>
    
	<!-- Second dropdown -->
	<div class="dropDown second">
		<div class="top">
			<div class="left"></div>
			<div class="center header theme">
				<span class="headline">Kundservice</span>
				<div class="close"></div>
			</div>
			<div class="right"></div>
		</div>
		<div class="middle">
			<div class="left">&nbsp;</div>
			<div class="center">
				<div class="column first">
					<ul>
						<li><a href="#">Verksamheten</a></li>
						<li><a href="#">Financiell information</a></li>
						<li><a href="#">Socialt ansvar</a></li>
					</ul>
				</div>
				<div class="column second">
					<ul>
						<li><a href="#">Design</a></li>
						<li><a href="#">Sponsorer</a></li>
						<li><a href="#">Press</a></li>
						<li><a href="#">Lediga jobb</a></li>
					</ul>
				</div>
			</div>
			<div class="right">&nbsp;</div>
		</div>
		<div class="bottom">
			<div class="left"></div>
			<div class="center">
				<div class="column first">
						<ul>
							<li class="headline">Mer om Posten Norden:</li>
							<li><a href="#" class="external">Posten.com - Corporate website<span></span></a></li>
						</ul>
					</div>
					<div class="column second">
						<ul>
							<li></li>
							<li>
								<a href="#" class="external">Posten.dk<span></span></a>
								<a href="#" class="external">Posten.fi<span></span></a>
								<a href="#" class="external">Posten.no<span></span></a>
							</li>
						</ul>
					</div>
			</div>
			<div class="right"></div>
		</div>
	</div>
</div>