<div id="MainMenu">
	<ul>
		<li>
			<h2 class="header">
				<span><a href="#">PRIVAT</a></span>
			</h2>
			<span class="indent"></span>
		</li>
		<li class="divider"></li>
		<li class="active">
			<h2 class="header">
				<span><a href="#">FÖRETAGSPOST</a></span>
			</h2>
			<span class="indent"></span>
		</li>
		<li class="divider"></li>
		<li>
			<h2 class="header">
				<span><a href="#">MARKNADSKOMMUNIKATION</a></span>
			</h2>
			<span class="indent"></span>
		</li>
		<li class="divider"></li>
		<li>
			<h2 class="header">
				<span><a href="#">LOGISTIK</a></span>
			</h2>
			<span class="indent"></span>
		</li>
	</ul>
</div>