<div class="module relatedContent">
	<div class="content"> 
		<div class="header">
			<span>Relaterat innehåll:</span>
			<a href="#" class="control">Visa alla<span class="arrow medium primary down"></span></a>
		</div>
		
		<div class="body">
			<div class="column files">
				<a href="" class="file pdf"><span class="size">(309 kB)</span></a>
				<a href="#" class="file"><span class="text">Frågor och svar</span></a>
			</div>
			
			<div class="column files">
				<a href="#" class="file xls"><span class="size">(127 kB)</span></a>
				<a href="#" class="file"><span class="text">Prislistor 2010</span></a>
			</div>
			
			<div class="column files">
				<a href="#" class="file pdf"><span class="size">(154 kB)</span></a>
				<a href="#" class="file"><span class="text">Vilkor</span></a>
			</div>
		</div>
	</div>
</div>