.content.border {
	border: solid 1px #dbd4c5;
}

.checkout {
	font-size: 14px;
	color: #333;
}
.checkout .body,
.checkout .footer {
	text-align: left;
	line-height: normal;
}
.checkout .body > div,
.checkout .footer > div {
	overflow: hidden;
	padding: 4px 10px;
}
.checkout .body > div > div,
.checkout .footer > div > div {
	float: left;
	width: 158px;
	height: 24px;
}
.checkout .body > div > div:first-child,
.checkout .footer > div > div:first-child {
	width: 110px;
	margin-right: 10px;
}

.checkout table {
	border-collapse:collapse;
}
.checkout div input[type='text'],
.checkout div select {
	width: 150px;
}
.checkout th {
	text-align: left;
	background-color: #eeeae1;
	padding: 5px 0px;
}
.checkout td {
	padding: 10px;
}
.checkout tr {
	background: url('../images/dividers/horizontal_295.png') center top no-repeat;
}
.checkout table input[type='text'] { 
	width: 20px;
}

.checkout input[type='radio'] {
	margin-left: 0px;
}

.proceed {
	width: 100%;
	padding: 10px 0;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}

.checkout .article {
	width: 158px; padding-left: 10px;
}
.checkout .quantity {
	width: 35px;
	padding: 0px;
	text-align: center;
}
.checkout .sum {
	width: 45px;
	text-align: right;
	padding-right: 0px;
}

.checkout div.campaignCode {
	padding: 15px 10px;
	background-color: #e2e2e2; }
.checkout div.freight {
	padding: 10px;
	border-top: solid 1px #dbd4c5;
	background-color: #eeeeee;
}

.checkout div.freight .cost {
	float: right;
	font-weight: bold;
}

.checkout div.freight .deficit {
	clear: right;
	float: left;
}

.checkout div.discount {
	padding: 10px;
	border-top: solid 1px #dbd4c5;
	background-color: #eeeeee;
}

.checkout div.discount .amount {
	color: #088000;
	float: right;
	font-weight: bold;
}

.checkout div.total {
	padding: 10px;
	border-top: solid 1px #dbd4c5;
	background-color: #eeeae1;
}
.checkout div.total .withVAT {
	float: right;
	font-size: 16px;
	font-weight: bold;
}

.checkout div.total .withoutVAT {
	clear: right;
	float: right;
	font-size: 12px;
}

.checkout .title {
	display: block;
}
.checkout .info {
	display: block; font-size: 12px;
}
.checkout .articleID {
	display: block;
	color: #a19377;
	font-style: italic;
	font-size: 12px;
	font-weight: bold;
}
.checkout .rightAlign {
	text-align: right;
}
.checkout div.border {
	border: solid 1px #dbd4c5;
	border-radius: 6px;
	-moz-borer-radius: 6px;
	margin: 10px;
	padding: 10px 14px;
}

.checkout .footer {
	height: auto;
	padding: 10px 0px;
	background: url("../images/spritemap_common_vertical.png") repeat-x 0 -68px;
}

.checkout .helpButton,
.checkout .deleteButton {
	display: inline-block;
	width: 17px;
	height: 17px;
	vertical-align: top;
	background: url('../images/spritemap_common.png') -273px -64px no-repeat;
}
.checkout .deleteButton {
	background-position: -255px -64px;
}

.checkout .visa,
.checkout .mastercard {
	display: inline-block;
	width: 40px;
	height: 26px;
	background: url('../images/spritemap_common.png') no-repeat -324px -43px;
	vertical-align: middle;
}
.checkout .mastercard {
	background-position: -324px -70px;
}

.checkout .indent {
	text-align: center;
	position: relative;
	top: -2px;
}

.checkout .indent span {
	display: inline-block;
	width: 17px;
	height: 19px;
	background: url('../images/spritemap_common.png') no-repeat -236px -82px;
}

.checkout.review {
	margin-bottom: -9px;
	z-index: 2;
}