<div class="module webshop border">
	<div class="edge outer top">
		<div class="left border"></div>
		<div class="right border"></div>
	</div>
	
	<div class="header common">Senast besökta</div>
	
	<div class="content">
		<ul>
			<li>
				<img src="content/banner_w1.png" alt="" class="" />
				<span class="headline">Headline</span>
				<span class="package"><a href="#">Headline</a></span>
				<span class="price">Headline</span>
			</li>
			<li>list-item 2</li>
			<li>list-item 3</li>
		</ul>
	</div>
	
	<div class="footer"><a href="#" class="link">Visa alla<span class="arrow"></span></a></div>
	
	<div class="edge outer bottom">
		<div class="left border"></div>
		<div class="right border"></div>
	</div>
</div>