#main-content div.confirmation-info-top {
  background: url('/_layouts/Posten/Cart/1.5/Images/elements-borders-sprite.png') no-repeat scroll transparent;
  /*background: url('/Images/elements-borders-sprite.png') no-repeat scroll transparent;*/
  font-size: 0;
  height: 3px;
  overflow: hidden;
}
#main-content div.confirmation-info-bottom {
  background: url('/_layouts/Posten/Cart/1.5/Images/elements-borders-sprite.png') no-repeat scroll transparent;
  /*background: url('/Images/elements-borders-sprite.png') no-repeat scroll transparent;*/
  font-size: 0;
  height: 3px;
  overflow: hidden;
}
#main-content div.confirmation-info-top { background-position: 0 -240px; }
#main-content div.confirmation-info-bottom {
  background-position: 0 -243px;
  margin-bottom: 20px;
}
#main-content div.confirmation-info {
  background-color: #dff7df;
  padding: 12px 12px 12px 12px;
}
#main-content div.confirmation-info div.confirmation-image {
  background: url('/_layouts/Posten/Cart/1.5/Images/elements-sprite.png') no-repeat scroll 0 -28px transparent;
  /*background: url('/Images/elements-sprite.png') no-repeat scroll 0 -28px transparent;*/

  float: left;
  height: 52px;
  width: 53px;
  padding-right: 12px;
  padding-top: 0px;
}
#main-content div.confirmation-info div.inner ul {
  margin: 0;
  padding: 0;
}
#main-content div.confirmation-info div.inner ul li { list-style: none; }
#main-content div.confirmation-info div.inner ul li.strong { font-weight: bold; }
#main-content h2 {
  background-color: #b2d6f6;
  font-size: 14px;
  margin-bottom: 3px;
  margin-top: 50px;
  padding: 12px 12px 12px 12px;
}
#main-content h1 {
  font-size: 24px;
  font-weight: normal;
  padding-bottom: 8px;
}
#main-content .rights-of-regrets h2 { margin-top: 20px; }
#main-content .rights-of-regrets p {
  background-color: #e5f3ff;
  padding: 12px 12px 12px 12px;
  margin-top: 0px;
}
#main-content .confirmation-information h2 { margin-top: 20px; }
#main-content .confirmation-information p {
  background-color: #e5f3ff;
  padding: 12px 12px 12px 12px;
  margin-top: 0px;
}
