﻿a.previous
{
    background: url('/_layouts/images/Posten/Common/Presentation/spritemap_localization_fi.png') no-repeat;
    background-position: -61px 0px;
    float: left;
    height:35px;
    width:18px;
    margin-top:100px;
    margin-right:10px;
}
a.next
{
    background: url('/_layouts/images/Posten/Common/Presentation/spritemap_localization_fi.png') no-repeat;
    background-position: -78px 0px;
    float: left;
    height:35px;
    width:18px;
    margin-top:100px;
}
a.right-arrow
{
    background: url('/_layouts/images/Posten/Common/Presentation/spritemap_localization_fi.png') no-repeat;
    background-position: -237px -2px;
    margin-top:3px;
    margin-left:2px;
    width:5px !important;
    height:8px !important;
    position:absolute;
}
.mainDiv
{
    height:240px;
    position:relative;
    overflow:hidden;
}
.product_leftNav, .divider_leftNav
{
    float: left; 
    position: relative;
}
.divider_leftNav img
{
    margin-right:15px;    
    height:230px;
    margin-top: 15px;
}
.divider_rightNav
{
    float: left; 
}
.divider_rightNav img
{
    margin-right: 10px;
    margin-left: -5px;
    height:230px;
    margin-top: 15px;
}
.product_middle
{
    margin:0 auto;
    text-align:left;
    width:88%;
    position:relative;
    overflow:hidden;
}
.product_middle ul
{
    position:relative;
    width:700px
}
.product_middle li
{
    overflow: hidden; 
    float: left; 
    margin-right: 5px;
    height:245px !important;
}
.product_rightNav
{
    float:right;
}       
.inputWrapper.button, .inputWrapper.button > input
{
    width:45px;
    line-height:17px;    
}
#items > tr
{
    width:20%;
}
.product_details
{
    height:170px
}
.product_item
{
    padding-right:15px;
    width:110px;
    overflow: hidden;
    position:relative;
}
.product_image
{
    margin-top:15px;
    position:relative;
}
.product_image img
{
    width:100px;
    height:100px;
}
.product_name
{
    font-weight:bold;
    position:relative;
    font-size:13px;
}
.product_description
{
    font-weight:bold;
    position:relative;
    font-size:13px;
}
.product_category
{
    font-style:italic;
    font-size:12px;
    position:relative;
}
.product_amount
{
    text-align:right;
    font-weight:bold;
    position:relative;
    font-size:16px;
}
.product_buybutton, .product_quantity
{
    float:right;
    position:relative;
}
.product_quantity
{
    margin-right:10px;
    position:relative;
}
.edge
{
    height:5px;
}
.module a, .blue
{
    color:#003382;
}
.colorBlack
{
    color:Black;
}