﻿.product_middle
{
    text-align:left;
    position:absolute; 
    width:650px !important;
}

.product_middle ul
{
    left: 40px;
}

.inputWrapper.button, .inputWrapper.button > input
{
    width:45px;
    line-height:21px;    
}