<div class="module article">
	<div class="toolbar"><a href="#" class="send"><span></span>Send</a><a href="#" class="print"><span></span>Print</a><a href="#" class="facebook"><span></span>Facebook</a></div>
	
	<div class="tabs">
		<div class="tab active">
			<div class="edge outer top">
				<div class="left border"></div>
				<div class="right border"></div>
			</div>
			<a href="#"><span>Aktuellt</span></a>
		</div>
		<div class="tab">
			<div class="edge outer top">
				<div class="left border"></div>
				<div class="right border"></div>
			</div>
			<a href="#"><span>Lorem Ipsum</span></a>
		</div>
		<div class="tab">
			<div class="edge outer top">
				<div class="left border"></div>
				<div class="right border"></div>
			</div>
			<a href="#"><span>Tab with 2-row title</span></a>
		</div>
		<div class="tabBorder"></div>
	</div>
	
	<div class="content active">
		<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac dignissim augue. Fusce adipiscing sollicitudin lectus
 porta dignissim. Quisque sed placerat urna. Aliquam erat volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed tellus nisi, sollicitudin a rutrum et, fermentum a sapien. Praesent a laoreet enim. Nam dictum, nisi et hendrerit sagittis, quam dolor posuere nisi, non congue massa velit nec orci. Maecenas vel posuere risus. Morbi congue tempus turpis, eget suscipit nunc gravida quis. Pellentesque est risus, molestie ut vehicula vitae, hendrerit vel purus.
		</p>
		
		<p>
			<span class="quote">
				<span></span>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac dignissim augue. Fusce adipiscing sollicitudin lectus porta dignissim.
				<span class="footer headline">Firstname Lastname @domain.com</span>
			</span>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac dignissim augue. Fusce adipiscing sollicitudin lectus
 porta dignissim. Quisque sed placerat urna. Aliquam erat volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed tellus nisi, sollicitudin a rutrum et, fermentum a sapien. Praesent a laoreet enim. Nam dictum, nisi et hendrerit sagittis, quam dolor posuere nisi, non congue massa velit nec orci. Maecenas vel posuere risus. Morbi congue tempus turpis, eget suscipit nunc gravida quis. Pellentesque est risus, molestie ut vehicula vitae, hendrerit vel purus. Sed rutrum venenatis nunc id dignissim. Curabitur ligula magna, vehicula vel ullamcorper vel, lacinia eget ipsum. Nam pharetra lorem at odio cursus dictum. Donec eu ante nunc, eget accumsan risus. Donec aliquam eros nec lorem ultricies ultrices. Fusce aliquam volutpat urna, ut fringilla urna varius id. Donec mollis lacinia dolor, euismod egestas arcu dignissim id. Vivamus dictum erat vel est ornare congue. Nam dictum, nisi et hendrerit sagittis, quam dolor posuere nisi, non congue massa velit nec orci.
		</p>
		
		<p>
			<span class="headline">Subtitle - Calibri 18</span>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac dignissim augue. Fusce adipiscing sollicitudin lectus
 porta dignissim. Quisque sed placerat urna. Aliquam erat volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed tellus nisi, sollicitudin a rutrum et, fermentum a sapien.
		</p>
		
		<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac dignissim augue. Fusce adipiscing sollicitudin lectus
 porta dignissim. Quisque sed placerat urna. Aliquam erat volutpat. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed tellus nisi, sollicitudin a rutrum et, fermentum a sapien.
		</p>
	</div>
	<div class="content">
		<p>Content for tab #2</p>
	</div>
	<div class="content">
		<p>Content for tab #3</p>
	</div>
</div>