.bundleOffer ul {
	padding: 0px;
	overflow: hidden;
}

.bundleOffer li {
	float: left;
	height: 60px;
	padding: 14px;
	overflow: hidden;
}

.bundleOffer li img {
	float: right;
}

.bundleOffer .content {
	background: url('../images/spritemap_common_vertical.png') 0px -89px repeat-x;
}

.bundleOffer .body {
	height: 88px;
	padding: 0 32px;
}

.bundleOffer .pageButton.next,
.bundleOffer li {
	background: url('../images/dividers/vertical_1.png') left no-repeat;
}

.box.colspan-3 .bundleOffer .content { }
.box.colspan-3 .bundleOffer li { width: 213px; }

.box.colspan-4 .bundleOffer .content { }
.box.colspan-4 .bundleOffer  li { width: 306px; }

.bundleOffer .footer {
	height: 24px;
	text-align: right;
	line-height: 22px;
	padding: 0 14px;
	background: url('../images/spritemap_common_vertical.png') 0px -177px repeat-x;
}

.bundleOffer .pageButton {
	width: 32px;
	height: 88px;
	position: absolute;
}

.bundleOffer .pageButton.prev {
	top: 0;
	left: -1px;
}

.bundleOffer .pageButton.next {
	top: 0;
	right: -1px;
}

.bundleOffer .pageButton a {
	position: absolute;
	top: 30px;
	display: inline-block;
}

.bundleOffer .pageButton span {
	width: 18px;
	height: 33px;
	display: inline-block;
	background-repeat: no-repeat;
}

.bundleOffer .pageButton.prev a {
	left: 1px;
}

.bundleOffer .pageButton.next a {
	right: 1px;
}

.bundleOffer .pageButton.prev span {
	background-position: -61px 0px;
}

.bundleOffer .pageButton.next span {
	background-position: -78px 0px;
}

.bundleOffer .pageButton.prev a:hover span {
	background-position: -61px 0px;
}

.bundleOffer .pageButton.next a:hover span {
	background-position: -78px 0px;
}