<div class="module bundleOffer footerPrimary">
	<div class="content">
		<div class="body">
	  		<div class="pageButton prev"><a href="#"><span></span></a></div>
            <ul>
                <li>
                    <img src="content/bundle_offer1.png" alt="" />
                    <span class="headline">Skicka riktiga vykort</span>
                    <a href="#">Länktext</a>
                </li>
                <li>
                    <img src="content/bundle_offer2.png" alt="" />
                    <span class="headline">Nystartat</span>
                    <a href="#">Lång länktext som kan bli ganska </a>
                </li>
            </ul>
       		<div class="pageButton next"><a href="#"><span></span></a></div>
		</div>
        <div class="footer">
        	<a href="#" class="link">Se samtliga paketerbjudanden</a>
        </div>
	</div>
</div>