<div class="module campaign headerCommon">
	
	<div class="content">
		<div class="header ">Rubrik</div>
		
		<div class="body">
			<div class="headline">Headline</div>
			<p>Running text - Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			<img src="content/banner_w2.png" alt="" class="left" />
		</div>
		
		<div class="footer"><a href="#" class="link">Länk</a></div>
	</div>
</div>