.faq {
	margin-top: 35px;
}

.module .questionMark {
	width: 45px;
	height: 40px;
	position: absolute;
	right: 14px;
	top: -10px;
	background-position: -222px -5px;
}

.faq .category .indent {
	width: 100%;
	height: 27px;
	position: absolute;
	bottom: -26px;
	z-index: 5;
	text-align: center;
}

.faq .category .indent span {
	display: inline-block;
    height: 25px;
    width: 27px;
	background: url("../images/spritemap_common.png") -190px -49px no-repeat;
}

.faq .category .headline {
	display: block;
	font-weight: bold;
}

.faq .category .body {
	padding: 10px 14px;
}

.faq .category select {
	min-width: 370px;
}

.faq .content .body {
	height: auto;
	background: none;
}

.faq li {
	cursor: pointer;
}

.faq .question, .faq .answer {
	padding-right: 10px;
}

.faq .question {
	display: block;
	position: relative;
}

.faq .question a {
	font-weight: bold;
	display: block;
}

.faq .question span.arrow {
	background-image: url("../images/spritemap_common.png");
	background-position: -265px -60px;
    display: block;
    font-weight: bold;
    margin-top: -5px;
    position: absolute;
    right: 0;
    top: 50%;
}

.faq .question:hover span.arrow{
	background-image: url("../images/spritemap_localization_com.png");
	background-position: -247px -11px;	
}

.faq .active .question span.arrow {
	background-image: url("../images/spritemap_localization_com.png");
	background-position: -219px -11px;		
}

.faq .active .question:hover span.arrow {
	background-image: url("../images/spritemap_localization_com.png");
	background-position: -219px -11px;	
}

.faq li {
	padding: 14px;
	border-top: none;
}
/*
.faq li + li {
	border-top: solid 1px #dbd4c5;
}*/

.faq li.active .question, .faq li.active:hover .question {
	color: #194b96;
	background-image: url('../images/faq/arrow_blue_up.png');
}

.faq li:hover .question {
	color: #194b96;
	background-image: url('../images/faq/arrow_blue_down.png');
}

.faq .answer {
	display: none;
}

.faq .contact .body {
	padding: 10px 0;
	overflow: hidden;
}

.box.colspan-3 .box {
	width: 163px;
	margin-left: 14px;
}

.box.colspan-3 .box.colspan-3 {
	width: 548px;
	margin-left: 14px;
}