
.mainCampaignModule {
	position: relative;
	overflow: hidden;
}

.mainCampaignModule ul {
	margin: 0;
	padding: 0;
}

.mainCampaignModule li {
	display: none;
}

.mainCampaignModule li:first-child {
	display: block;
}

.mainCampaignModule .image {
	background: url('../tmp/banner.png') no-repeat;
	border: solid 0px red;
	z-index: 1;
}

.mainCampaignModule img {
	display: block;
}

.mainCampaignModule .headline {
	display: block;
	font-size: 30px;
	line-height: 1em;
}

/************************************************************** Paginator */

.mainCampaignModule .paginator {
	background: url('../images/spritemap_common.png') no-repeat -0px -10px;
	position: absolute;
	height: 32px;
	display: none;
	width: 376px;
	bottom: 0px;
	right: 0px;
	text-align: right;
	vertical-align: bottom;
	z-index: 2;
}

.mainCampaignModule.multiple .paginator {
	display: block;
}

.mainCampaignModule .paginator span {
	display: inline-block;
	margin: 5px 5px 0 0;
	border: none;
	height: 20px;
	width: 20px;
	background: url('../images/spritemap_common.png') no-repeat -95px -49px;
	cursor: pointer;
	font-weight: bold;
	font-family: Calibri;
	line-height: 20px;
	text-align: center;
	font-size: 12px;
}

.mainCampaignModule .paginator span.active {
	cursor: default;
	color: #fff;
	background: url('../images/localization_se.png') -25px -37px no-repeat;
}

.mainCampaignModule .paginator span.loading {
	cursor: default !important;
}

/************************************************************** Text Box */

.mainCampaignModule .textBox {
	position: absolute;
	width: 282px;
	top: 15px;
	right: 15px;
	padding-left: 0px;
}

.mainCampaignModule .textBox h4 {
	margin: 0 0 10px 0;
	font-size: 2em;
	line-height: 1em;
	color: #003482;
}

.textBox div.content {
	background-color: #fff;
}

.mainCampaignModule .textBox.alignLeft {
	left: 15px;
	text-align: right;
}

.mainCampaignModule .textBox a {
	font-weight: normal;
	color: #555;
	margin: 8px 0 5px;
	display: inline-block;
	font-size: 14px;
}

.mainCampaignModule .textBox .indent {
	position: absolute;
	left: -11px;
	top: 35px;
	width: 12px;
	height: 24px;
	background: url('../images/spritemap_common.png') no-repeat -70px -50px;
}

.mainCampaignModule .textBox.alignLeft .indent {
	left: 281px;
	background-position: -82px -49px;
}

.mainCampaignModule .textBox div.topBorder {
	height: 5px;
	background: url('../images/spritemap_common.png') no-repeat 0px -43px;
}

.textBox .leftBorder {
	background: #900;
}

.textBox div.content {
	padding: 4px 10px 10px;
	background: url("../images/spritemap_common_horizontal.png") -6px -1px transparent repeat-y;
}

.textBox .rightBorder {
	background: #090;
}

.mainCampaignModule .textBox div.bottomBorder {
	height: 7px;
	background-position: 0px -128px;
	background-repeat: no-repeat;
}