<div class="module relatedContent">
	<div class="content"> 
		<div class="header">
			<span>Relaterat innehåll:</span>
			<a href="#" class="control">Visa alla<span class="arrow medium primary down"></span></a>
		</div>
		
		<div class="body links">
			<ul class="column">
				<li><a href="#" class="link">Lorem Ipsum dolar sed do tempor</a></li>
				<li><a href="#" class="link">Lorem Ipsum</a></li>
				<li><a href="#" class="link">Lorem Ipsum</a></li>
				<li><a href="#" class="link">Lorem Ipsum</a></li>
				<li><a href="#" class="link">Lorem Ipsum</a></li>
			</ul>
			
			<ul class="column links">
				<li><a href="#" class="link">Lorem Ipsum dolar sed do tempor</a></li>
				<li><a href="#" class="link">Lorem Ipsum</a></li>
				<li><a href="#" class="link">Lorem Ipsum</a></li>
				<li><a href="#" class="link">Lorem Ipsum</a></li>
				<li><a href="#" class="link">Lorem Ipsum</a></li>
			</ul>
			
			<ul class="column links">
				<li><a href="#" class="link">Lorem Ipsum dolar sed do tempor</a></li>
				<li><a href="#" class="link">Lorem Ipsum</a></li>
				<li><a href="#" class="link">Lorem Ipsum</a></li>
				<li><a href="#" class="link">Lorem Ipsum</a></li>
				<li><a href="#" class="link">Lorem Ipsum</a></li>
			</ul>
		</div>
	</div>
</div>