/***** Colors *****/

a,
.tabs .tab a:hover ,
.tabs .tab.active a,
.headline,
.headline.link,
.theme,
.link:hover,
.file span.text,
#SearchResult .paginator .selected,
#DocumentSearchResult .pages,
.relatedContent .header,
.relatedContent .control.active,
.treeView a:hover,
.treeView li.expanded > a {
	color: #003382;
}
.relatedContent .control.active:hover,
.relatedContent a .text:hover,
a:hover,
.faq li.active a {
	color: #031f50;
}

#QuickFinder .headline.active {
	background: #031f50;
}

#QuickFinder .tracker {
	background-color: #e1e1e1;
}

.localizationRibbon {
	background-color: #c00;
}

.localizationRibbon.secondary {
	background-color: #f0cc00;
}

#CenterConsoleMenu li.more:hover {
	border-top: 1px solid #003382 !important;
	border-bottom: 1px solid #031f50 !important;
}

#CenterConsoleMenu li.more:hover .wrapper span {
	color: #fff;
}

/***** Spritemaps *****/

a.button *,
a.link.theme > .arrow,
a.link:hover > .arrow,
button.search,
.arrow.theme,
li.expanded > a .arrow.null-theme,
a:hover .arrow.null-theme,
.bundleOffer .pageButton span,
.dropDown .top .left,
.dropDown .top .right,
.gradient.theme .arrow,
.logo,
.mainCampaignModule .paginator span.active,
.mainCampaignModule .textBox div.bottomBorder,
.module.headerTheme .header,
.module .footer a.link,
.module .header .questionMark,
.search input,
.webShop .checkout,
#CenterConsoleMenu .dropDown .header .frame.center,
#CenterConsoleMenu li.more:hover,
#CenterConsoleMenu .divider,
#CenterConsoleMenu .more:hover .indent span,
#CenterConsoleMenu li.more.active:hover .indent span,
#GlobalMenu .dropDown .top > *,
#GlobalMenu a.home:hover span,
#MainMenu li.active span,
#MainMenu li.active .header,
#MainMenu li:hover .header,
#QuickFinder .headline {
	background-image: url('../images/spritemap_localization_com.png');
}

.header,
#MainMenu li.active .header,
#MainMenu li:hover .header {
	background-position: 0px -136px;
	background-repeat: repeat-x;
}

#FAQ .decoration {
	background-position: -172px -5px;
	background-repeat: no-repeat;
}

button.search {
	background-position:  -97px 0px;
}

.search input {
	background-position -97px 0px;
	cursor:pointer;
	width: 24px;
	height: 24px;
	border: none;
	line-height:3000;
}

#MainMenu li.active span {
	background-position: -43px 0px;
	background-repeat: repeat-x;
}

#GlobalMenu a.home:hover span {
	background-position: -0px -73px;
}

.logo {
	width: 185px;
	height: 21px;
	background-position: -1px -299px;
}
.webShop .checkout {
	background-position: -120px;
	background-repeat: repeat-x;
}
.treeView a:hover span.arrow {
	background-position: -234px -16px;
}
.treeView li.expanded > a span.arrow {
	background-position: -248px -16px;
}

#QuickFinder .headline {
	background-position: 0 center;
	background-repeat: repeat-x;
}

#CenterConsoleMenu .more:hover .indent span,
#CenterConsoleMenu .more.active:hover .indent span {
	background-position:  -25px -1px;
	background-repeat: no-repeat;
}

.bundleOffer .pageButton.next div {
	background-position: -78px -0px;
	background-repeat: no-repeat;
}

.mainCampaignModule .paginator span.active {
	background-position: -25px -20px;
	background-repeat: no-repeat;
}

#CenterConsoleMenu .divider {
	background-position: 0px -217px #dbd4c5;
	background-repeat: no-repeat;
}

